[2017-10-20 20:04] mattphillips opened #1 "New Matcher: toBeFalse"
**Feature Request**

Description:

Add new matcher `expect(boolean).toBeFalse()`

Possible solution:

[code]

[2017-10-23 14:57] mattphillips opened #3 ".toContainValue"
**Feature Request**

Description:

toContainValue(value)

Use .toContainValue when checking if an object contains the provided value.

[code]

[2017-10-23 15:41] mattphillips opened #5 "New matcher: toContainValues"
**Feature Request**

Description:

.toContainValues([values])

Use .toContainValues when checking if an object contains all of the provided values.

[code]

[2017-10-23 15:59] mattphillips opened #7 "New Matcher: .toBeNil()"
**Feature Request**

Description:

### .toBeNil()

Use `.toBeNil` when checking a value is null or undefined.

[code]

[2017-10-23 15:59] mattphillips opened #8 "New Matcher: .toBeNaN()"
**Feature Request**

Description:

### .toBeNaN()

Use `.toBeNaN` when checking a value is `NaN`.

[code]

[2017-10-23 16:01] mattphillips opened #9 "New Matcher: .toBeEmpty()"
**Feature Request**

Description:

### .toBeEmpty()

Use `.toBeEmpty` when checking if a `String` `''`, `Array` `[]` or `Object` `{}` is empty.

[code]

[2017-10-23 16:02] mattphillips opened #10 "New Matcher: .toBeWithin(start, end)"
**Feature Request**

Description:

### .toBeWithin(start, end)

Use `.toBeWithin` when checking if a number is in between the given bounds of: start (inclusive) and end (exclusive).

[code]

[2017-10-23 16:03] mattphillips opened #11 "New Matcher: .toContainKey(key)"
**Feature Request**

### .toContainKey(key)

Use `.toContainKey` when checking if an object contains the provided key.

[code]

[2017-10-23 16:04] mattphillips opened #12 "New Matcher: .toContainKeys([keys])"
**Feature Request**

### .toContainKeys([keys])

Use `.toContainKeys` when checking if an object has all of the provided keys.

[code]

[2017-10-23 16:05] mattphillips opened #13 "New Matcher: .toContainAllKeys([keys])"
**Feature Request**

### .toContainAllKeys([keys])

Use `.toContainAllKeys` when checking if an object only contains all of the provided keys.

[code]

[2017-10-23 16:05] mattphillips opened #14 "New Matcher: .toContainAnyKeys([keys])"
**Feature Request**

### .toContainAnyKeys([keys])

Use `.toContainAnyKeys` when checking if an object contains at least one of the provided keys.

[code]

[2017-10-23 16:05] mattphillips opened #15 "New Matcher: .toContainAllValues([values])"
**Feature Request**

### .toContainAllValues([values])

Use `.toContainAllValues` when checking if an object only contains all of the provided values.

[code]

[2017-10-23 16:06] mattphillips opened #16 "New Matcher: .toContainAnyValues([values])"
**Feature Request**

### .toContainAnyValues([values])

Use `.toContainAnyValues` when checking if an object contains at least one of the provided values.

[code]

[2017-10-23 16:06] mattphillips opened #17 "New Matcher: .toContainEntry([key, value])"
**Feature Request**

### .toContainEntry([key, value])

Use `.toContainEntry` when checking if an object contains the provided entry.

[code]

[2017-10-23 16:07] mattphillips opened #18 "New Matcher: .toContainEntries([[key, value]])"
**Feature Request**

### .toContainEntries([[key, value]])

Use `.toContainEntries` when checking if an object contains all of the provided entries.

[code]

[2017-10-23 16:07] mattphillips opened #19 "New Matcher: .toContainAllEntries([[key, value]])"
**Feature Request**

### .toContainAllEntries([[key, value]])

Use `.toContainAllEntries` when checking if an object only contains all of the provided entries.

[code]

[2017-10-23 16:08] mattphillips opened #20 "New Matcher: .toContainAnyEntries([[key, value]])"
**Feature Request**

### .toContainAnyEntries([[key, value]])

Use `.toContainAnyEntries` when checking if an object contains at least one of the provided entries.

[code]

[2017-10-23 16:08] mattphillips opened #21 "New Matcher: .toSatisfy(predicate)"
**Feature Request**

### .toSatisfy(predicate)

Use `.toSatisfy` when you want to use a custom matcher by supplying a predicate function that returns a `Boolean`.

[code]

[2017-10-23 16:09] mattphillips opened #22 "New Matcher: .toHaveAllMembers([members])"
**Feature Request**

### .toHaveAllMembers([members])

Use `.toHaveAllMembers` when checking if an `Array` contains all of the same members of a given set.

[code]

[2017-10-23 16:10] mattphillips opened #23 "New Matcher: .toHaveSomeMembers([members])"
**Feature Request**

### .toHaveSomeMembers([members])

Use `.toHaveSomeMembers` when checking if an `Array` contains some of the members of a given set.

[code]

[2017-10-23 16:10] mattphillips opened #24 "New Matcher: .toBeOneOf([members])"
**Feature Request**

### .toBeOneOf([members])

Use `.toBeOneOf` when checking if a value is a member of a given `Array`.

[code]

[2017-10-23 16:11] mattphillips opened #25 "New Matcher: .toBeExtensible()"
**Feature Request**

### .toBeExtensible()

Use `.toBeExtensible` when checking if an object is extensible.

[code]

[2017-10-23 16:11] mattphillips opened #26 "New Matcher: .toBeSealed()"
**Feature Request**

### .toBeSealed()

Use `.toBeSealed` when checking if an object is sealed.

[code]

[2017-10-23 16:11] mattphillips opened #27 "New Matcher: .toBeFrozen()"
**Feature Request**

### .toBeFrozen()

Use `.toBeFrozen` when checking if an object is frozon.

[code]

[2017-10-23 16:12] mattphillips opened #28 "New Matcher: .toBeFinite()"
**Feature Request**

### .toBeFinite()

Use `.toBeFinite` when checking if a value is a `Number`, not `NaN` or `Infinity`.

[code]

[2017-10-23 16:12] mattphillips opened #29 "New Matcher: .toBePositive()"
**Feature Request**

### .toBePositive()

Use `.toBePositive` when checking if a value is a positive `Number`.

[code]

[2017-10-23 16:12] mattphillips opened #30 "New Matcher: .toBeNegative()"
**Feature Request**

### .toBeNegative()

Use `.toBeNegative` when checking if a value is a negative `Number`.

[code]

[2017-10-23 16:12] mattphillips opened #31 "New Matcher: .toBeEven()"
**Feature Request**

### .toBeEven()

Use `.toBeEven` when checking if a value is an even `Number`.

[code]

[2017-10-23 16:13] mattphillips opened #32 "New Matcher: .toBeOdd()"
**Feature Request**

### .toBeOdd()

Use `.toBeOdd` when checking if a value is an odd `Number`.

[code]

[2017-10-23 16:13] mattphillips opened #33 "New Matcher: .toBeFunction()"
**Feature Request**

### .toBeFunction()

Use `.toBeFunction` when checking if a value is a `Function`.

[code]

[2017-10-23 16:13] mattphillips opened #34 "New Matcher: .toBeObject()"
**Feature Request**

### .toBeObject()

Use `.toBeObject` when checking if a value is an `Object`.

[code]

[2017-10-23 16:14] mattphillips opened #35 "New Matcher: .toBeArray()"
**Feature Request**

### .toBeArray()

Use `.toBeArray` when checking if a value is an `Array`.

[code]

[2017-10-23 16:14] mattphillips opened #36 "New Matcher: .toBeString()"
**Feature Request**

### .toBeString()

Use `.toBeString` when checking if a value is a `String`.

[code]

[2017-10-23 16:14] mattphillips opened #37 "New Matcher: .toBeNumber()"
**Feature Request**

### .toBeNumber()

Use `.toBeNumber` when checking if a value is a `Number`.

[code]

[2017-10-23 16:15] mattphillips opened #38 "New Matcher: .toBeBoolean()"
**Feature Request**

### .toBeBoolean()

Use `.toBeBoolean` when checking if a value is a `Boolean`.

[code]

[2017-10-23 16:15] mattphillips opened #39 "New Matcher: .toStartWith(prefix)"
**Feature Request**

### .toStartWith(prefix)

Use `.toStartWith` when checking if a `String` starts with a given `String` prefix.

[code]

[2017-10-23 16:15] mattphillips opened #40 "New Matcher: .toEndWith(suffix)"
**Feature Request**

### .toEndWith(suffix)

Use `.toEndWith` when checking if a `String` ends with a given `String` suffix.

[code]

[2017-10-23 16:15] mattphillips opened #41 "New Matcher: .toInclude(substring)"
**Feature Request**

### .toInclude(substring)

Use `.toInclude` when checking if a `String` includes the given `String` substring.

[code]

[2017-10-23 16:16] mattphillips opened #42 "New Matcher: .toIncludeRepeated(substring, times)"
**Feature Request**

### .toIncludeRepeated(substring, times)

Use `.toIncludeRepeated` when checking if a `String` includes the given `String` substring the correct number of times.

[code]

[2017-10-23 16:16] mattphillips opened #43 "New Matcher: .toIncludeMultiple([substring])"
**Feature Request**

### .toIncludeMultiple([substring])

Use `.toIncludeMultiple` when checking if a `String` includes all of the given substrings.

[code]

[2017-10-23 16:17] mattphillips opened #44 "New Matcher: .toEqualIgnoringCase(string)"
**Feature Request**

### .toEqualIgnoringCase(string)

Use `.toEqualIgnoringCase` when checking if a string is equal (===) to another ignoring the casing of both strings.

[code]

[2017-10-23 16:51] btnwtn commented on #44
I got this! 🙌

[2017-10-23 16:57] arcticbarra commented on #41
I'll take this one 👍

[2017-10-23 16:59] mattphillips commented on #44
Nice one! Let me know if you need a hand :smile:

[2017-10-23 16:59] mattphillips commented on #41
Nice one! Let me know if you need a hand :smile:

[2017-10-23 17:10] stevebluck commented on #21
Dibs on this one.

[2017-10-23 17:12] mattphillips commented on #21
Go for it 👍

[2017-10-23 18:03] GaryLeutheuser commented on #39
Hi, I've started work on this.

[2017-10-23 18:05] mattphillips commented on #39
All yours 🥇

[2017-10-23 18:10] #3 closed

[2017-10-23 18:14] m13m commented on #43
I wish to work on this.

[2017-10-23 18:16] m13m commented on #38
I wish to work on this.

[2017-10-23 18:17] marcinlichwala commented on #40
Hello @mattphillips! I would like to take this one :)

[2017-10-23 18:17] mattphillips commented on #38
All yours :smile:

[2017-10-23 18:18] mattphillips commented on #40
Thanks @marcinlichwala!

[2017-10-23 18:31] stofolus commented on #37
I can work on this

[2017-10-23 18:31] #5 closed

[2017-10-23 18:31] stofolus commented on #36
I can work on this

[2017-10-23 18:32] stofolus commented on #35
I can work on this

[2017-10-23 18:35] mprencipe commented on #26
I can work on this

[2017-10-23 18:35] mprencipe commented on #34
I can work on this

[2017-10-23 18:35] mprencipe commented on #33
I can work on this

[2017-10-23 19:18] garmeeh commented on #31
I'll take this one 👋

[2017-10-23 19:29] btnwtn commented on #44
I've renamed the matcher because I think CaseInsensitive makes more sense. Also easier to read with different fonts. Let me know what you think.

[2017-10-23 20:05] soueuls commented on #32
I am taking on this one 👍

[2017-10-23 20:29] mattphillips commented on #32
All yours! Don't forget to star and share :smile:

[2017-10-23 20:35] subinoy7 commented on #38
Hi @mattphillips ,
I am new at node.js, and I tried to implement this functionality. Can you please check it or give me instructions to check it myself in my local machine.

[2017-10-23 20:37] hamiltondanielb commented on #42
I will take this one

[2017-10-23 21:00] mattphillips commented on #35
all yours @stofolus

[2017-10-23 21:01] mattphillips commented on #34
thanks @mprencipe

[2017-10-23 21:02] mattphillips commented on #31
all yours @garmeeh don't forget to star and share :smile:

[2017-10-23 21:02] mattphillips commented on #44
First one to be merged 🎉

[2017-10-23 21:02] #44 closed

[2017-10-23 21:03] mattphillips commented on #42
Thanks @hamiltondanielb all yours! Don't forget to star ⭐️ and share :smile:

[2017-10-23 21:46] lindgr3n commented on #30
Ill try this one!

[2017-10-23 22:02] hydrabolt commented on #29
I'll take this one :)

[2017-10-23 22:31] hydrabolt commented on #8
I'll take this one too!

[2017-10-23 22:40] ecollis6 commented on #43
Hey, I'd like to give this a shot. I'll have a PR ready ASAP :)

[2017-10-23 22:47] vteremasov commented on #29
Oh sorry

[2017-10-23 22:48] vteremasov commented on #29
I already commited (

[2017-10-23 23:15] cactorium commented on #23
I'm up for trying to implement this!

[2017-10-23 23:54] tophernuts commented on #28
I'll have a PR up for this in a bit!

[2017-10-24 00:13] tjwhalen16 commented on #25
I'll give this one a try

[2017-10-24 03:15] friscomm commented on #7
I'd like to give this a shot!

[2017-10-24 03:16] devanp92 commented on #26
I can take this

[2017-10-24 03:47] ecollis6 commented on #14
I'll take this one

[2017-10-24 07:39] mattphillips commented on #14
@ecollis6 all yours buddy! Don't forget to star ✨ and share the project :smile:

[2017-10-24 07:42] mattphillips commented on #26
@devanp92 all yours dude! Don't forget to star ✨ and share the project 😄

[2017-10-24 07:43] mattphillips commented on #7
Hey @friscomm you got it! Don't forget to star ⭐️ and share the project 😄

[2017-10-24 07:44] mattphillips commented on #25
@tjwhalen16 all yours buddy! Don't forget to star ✨ and share the project 😄

[2017-10-24 07:44] mattphillips commented on #28
Nice one @tophernuts. Don't forget to star ✨ and share the project 😄

[2017-10-24 08:37] #39 closed

[2017-10-24 09:09] mattphillips commented on #30
congrats!

[2017-10-24 09:09] #30 closed

[2017-10-24 09:21] martiuslim commented on #10
hi, I'd like to try this

[2017-10-24 09:26] mattphillips commented on #10
all yours @martiuslim remember to star and share :smile:

[2017-10-24 10:55] deerawan commented on #16
@mattphillips can I grab this one?

[2017-10-24 10:56] deerawan commented on #15
@mattphillips can I grab this one as well?

[2017-10-24 11:01] mattphillips commented on #16
All yours @deerawan :smile: if you can star the project 🌟 that would be awesome!

[2017-10-24 11:01] mattphillips commented on #15
sure thing :smile:

[2017-10-24 11:06] #24 closed

[2017-10-24 12:38] #11 closed

[2017-10-24 13:14] thymikee opened #67 "Consider transferring to jest-community"
**Feature Request**

Hey! This repo looks good, I like the idea of extended matchers.
We've recently created an organisation for community modules: [jest-community](https://github.com/jest-community).

How do you feel about transferring this repository there?

cc @orta @rogeliog @SimenB

[2017-10-24 13:25] orta commented on #67
Oh yeah, what a great project - 👍

[2017-10-24 15:01] grug commented on #17
I'll take this one.

[2017-10-24 15:28] francisngo commented on #22
I can work on this. :)

[2017-10-24 15:29] danielr18 commented on #19
Working on this one

[2017-10-24 15:30] vikneshwar commented on #20
Hi, i would like to take this

[2017-10-24 16:06] mattphillips commented on #22
all yours @francisngo

[2017-10-24 16:07] mattphillips commented on #19
all yours @danielr18

[2017-10-24 16:07] mattphillips commented on #17
you got @grug :smile:

[2017-10-24 16:08] mattphillips commented on #8
all yours @hydrabolt

[2017-10-24 16:22] danielr18 commented on #18
Working on this one

[2017-10-24 16:27] #25 closed

[2017-10-24 16:41] #10 closed

[2017-10-24 16:47] danielr18 commented on #12
Working on this one

[2017-10-24 17:12] martiuslim commented on #9
I'll tackle this too 😄

[2017-10-24 17:47] marcinlichwala commented on #13
Hello @mattphillips,
I would like to take this one :)

[2017-10-24 18:53] #40 closed

[2017-10-24 18:58] mattphillips commented on #13
Thanks @marcinlichwala

[2017-10-24 19:03] GitHug commented on #13
Oh maaan! I was investigating this one and ended up coming up with a solution. Didn't think about claiming it until it was too late. You snooze you loose, I guess...

I am ready to create the pull request, but I will let @marcinlichwala handle this one. Let me know if I should create the PR :)

[2017-10-24 19:16] marcinlichwala commented on #13
That is fine, you can take this one, obviously :)

[2017-10-24 19:26] olsio commented on #9
I have a PR but introduced lodash to handle the actual check. I think lodash will help with lots of the desired matchers but I am not sure what the policy is on new dependencies. I just think lodash is very stable and battle proven and will give is better results.

[2017-10-24 21:20] GitHug commented on #13
Thanks @marcinlichwala I will check the comments in the issue more carefully next time so there are no double work 👍

[2017-10-25 13:12] deerawan commented on #16
@mattphillips will inner object be covered in the command?

[2017-10-25 17:00] #31 closed

[2017-10-25 17:01] #34 closed

[2017-10-25 17:01] #27 closed

[2017-10-25 17:16] #13 closed

[2017-10-25 17:20] #14 closed

[2017-10-25 17:32] #12 closed

[2017-10-25 20:30] khorramk commented on #29
can i contribute to this?
i will like to take this

[2017-10-25 21:20] mattphillips commented on #29
Hey @khorramk unfortunately I think @vteremasov has already sent a pr (#57) for this one. I have a whole list of more matchers to add to jest-extended (once I get through merging all of the amazing work everyone has done) so just keep your eyes peeled and there will be some more soon to do :smile:

[2017-10-25 22:20] #28 closed

[2017-10-26 09:55] #23 closed

[2017-10-26 10:05] #22 closed

[2017-10-26 10:05] grug commented on #17
Thanks @danielr18 for stealing this from me - classy!

[2017-10-26 10:08] mattphillips commented on #17
Hey @grug if you have worked on this then still send a PR as you claimed it first!

[2017-10-26 10:08] danielr18 commented on #17
Sorry @grug, my bad. I started it before you commented on it, it was my first PR on the project so I didn't know I had to leave a comment. I did that in the other issues to avoid this.

[2017-10-26 10:15] grug commented on #17
Haha I re-read my comment and realised that it sounded way harsher than I meant it to! I was just messing around, it's all good :) I was too slow!

[2017-10-26 10:23] grug commented on #17
Once again, super sorry for coming across the way I did originally! I really didn't mean for it to be like that. Definitely accept @danielr18's PR as it's good and he beat me to it.

[2017-10-26 10:24] grug commented on #41
Hey @mattphillips I've noticed there hasn't been any movement on this in 3 days so I might have a crack and if @arcticbarra wants to collab or submit their own PR then you can take that. Hopefully that's cool.

[2017-10-26 10:32] mattphillips commented on #17
I've just added a small comment to #69 for deep equality not sure if you guys want to collaborate on that?

[2017-10-26 10:35] danielr18 commented on #17
No probs @grub, all good. Do you want to implement the change?

[2017-10-26 10:51] #8 closed

[2017-10-26 10:52] grug commented on #17
All good @danielr18, it's all yours :)

[2017-10-26 11:00] #29 closed

[2017-10-26 11:24] #43 closed

[2017-10-26 11:56] deerawan commented on #15
@mattphillips How about this case? is this correct?
[code]

[2017-10-26 15:11] GitHug commented on #38
Is anyone working on this one still? Otherwise I can implement this.

[2017-10-26 15:40] m13m commented on #38
@GitHug You can take this.

[2017-10-26 19:11] #41 closed

[2017-10-26 19:20] mattphillips commented on #38
@GitHug I think @subinoy7 had made a start on this in #71 perhaps you could lend a hand as they are new to node?

[2017-10-26 19:30] subinoy7 commented on #38
@GitHug you can take this, @mattphillips  I couldn’t complete this because I am not able to test it locally, I will learn this soon, thanks for your support🤗, also I can compare my code with @GitHug to learn I guess!

[2017-10-26 23:33] GitHug commented on #38
Created PR #88

@subinoy7 to get started with node.js I would advice you to experiment with this repo by either forking it or just cloning it from here. Once you have it on your local machine, provided that you have npm, cd to the directory and run
[code]
To download all the dependencies for the project. You can run all the tests in the project with
[code]
To add a new matcher to the project have

[2017-10-27 08:38] subinoy7 commented on #38
@GitHug thanks for sharing, yeah I agree that experiment is the quickest way to learn something :) thanks for guiding. Thanks to @mattphillips  also for bringing up this discussion.

[2017-10-27 15:01] #1 closed

[2017-10-27 15:40] #38 closed

[2017-10-27 15:45] #33 closed

[2017-10-27 15:47] #35 closed

[2017-10-27 15:53] #37 closed

[2017-10-27 16:00] #32 closed

[2017-10-27 16:20] #17 closed

[2017-10-27 16:28] #19 closed

[2017-10-27 16:37] mattphillips commented on #15
Good catch with that case @deerawan I've added the logic for it 👍

[2017-10-27 16:37] #15 closed

[2017-10-27 16:39] #18 closed

[2017-10-27 16:43] #36 closed

[2017-10-27 16:43] mattphillips commented on #16
@deerawan yeah it should cover nested values i.e. objects/arrays/etc

[2017-10-27 20:14] vikneshwar commented on #7
Hi, @mattphillips can I take this up if @friscomm is not working on this ?

[2017-10-27 20:16] vikneshwar commented on #21
Hi, @mattphillips can I take this one?

[2017-10-27 20:25] mattphillips commented on #21
Sorry @vikneshwar @stevebluck has already made a start on this over in #54

[2017-10-27 22:00] friscomm commented on #7
hey @vikneshwar I am giving it a go, but if I need some assistance I'd be down to reach out to you and we could pair on it?

[2017-10-28 13:17] #20 closed

[2017-10-28 13:30] #16 closed

[2017-10-29 05:03] subinoy7 commented on #9
@mattphillips Is anyone working on this? I wish to work on this.

[2017-10-29 07:44] tejasbubane opened #90 "Use `test` instead of `it`"
**Feature Request**

* Description:
Our README uses `test`, but our codebase has `it` at a few places.
The [Jest docs](https://facebook.github.io/jest/docs/en/getting-started.html) use `test` everywhere. Although `it` is just an alias of `test`, should we switch to using `test` everywhere in our codebase to make it consistent with our README (as well as the Jest docs)?

* Possible solution:
Use `t

[2017-10-29 07:47] subinoy7 commented on #90
i can do this...

[2017-10-29 13:40] subinoy7 commented on #38
@GitHug can you help me why I am getting this only in Travis CI but not getting it when testing it locally
    expect(value).toMatchSnapshot()
    New snapshot was not written. The update flag must be explicitly passed to write a new snapshot.
    This is likely because this test is run in a continuous integration (CI) environment in which snapshots are not written by default.

[2017-10-29 13:59] mattphillips commented on #90
@tejasbubane I'm pretty easy either way if you think it would help if we were consistent then for sure send a PR :smile:

[2017-10-29 14:07] subinoy7 commented on #7
Apologies as I didn't see that this is already taken. I was working on it as I wanted to learn.
@mattphillips I created a PR #96, and it took me whole day to learn that Travis CI was failing because I needed to add snapshot manually :smile:

Though I am happy that I learned a lot, you can accept it or you can close it. It's up to you :smiley:

[2017-10-31 19:54] mattphillips commented on #7
@friscomm I've merged @subinoy7 PR for now which closes this issue. @friscomm there are other APIs that I want to add to jest-extended and I would be happy to help you out if you wanted to add one just let me know :smile:

[2017-10-31 19:54] #7 closed

[2017-10-31 20:10] #9 closed

[2017-10-31 20:13] #26 closed

[2017-10-31 20:36] #21 closed

[2017-10-31 20:38] mattphillips commented on #42
@hamiltondanielb last day to get a Hacktoberfest contribution for this 😛

[2017-11-07 18:50] marcinlichwala commented on #42
@mattphillips @hamiltondanielb
I could gladly take this one if you have nothing against ;)

[2017-11-08 20:14] mattphillips commented on #42
@marcinlichwala I'm happy for you to give it a go :smile:

[2017-11-08 20:33] mattphillips commented on #67
Hey @thymikee sorry about the delay in replying I wanted to get Hacktoberfest out the way!

I'd definitely be open to transferring jest-extended over to [jest-community](https://github.com/jest-community). I've never transferred a project before - how would it work with owning/maintaining the project and releases?

Ideally I would like to continue maintaining the project and making sure it is goin

[2017-11-08 20:43] SimenB commented on #67
Those of us who are collaborators on the jest project are admins, so we will have write access through that.

But I think I can speak for us when I say that we won't be merging PRs to this project (might review them, though 🙂) or requiring publish access.

It's more of a way of highlighting awesome projects (I'd love to have your `babel-jest-assertions` in there as well!), and maybe enabling them

[2017-11-08 21:00] orta commented on #67
Yeah, that seems totally fine with me - it can't be done at GH level, but culturally that's totally acceptable. I'll add you as an org admin to jest-community. It would continue to be your repo, just consolidated with other big jest-y projects

[2017-11-08 21:45] mattphillips commented on #67
@SimenB that all sounds fair - and I totally trust the Jest collaborators 😄

Thanks @orta I'll transfer the project over now 🎉

[2017-11-08 22:05] rogeliog commented on #67
This is awesome!!! 🎉

[2017-11-09 00:12] mattphillips opened #98 "New matcher: .toHaveBeenCalledBefore(mock)"
**Feature Request**

### .toHaveBeenCalledBefore(mock)

Use `.toHaveBeenCalledBefore` when checking if a mock has been called before another mock.

[code]

[2017-11-09 00:13] mattphillips commented on #98
taken from https://github.com/facebook/jest/issues/4402

[2017-11-09 00:16] mattphillips commented on #98
Blocked pending internal timestamp support in Jest: https://github.com/facebook/jest/pull/4866

[2017-11-09 06:49] SimenB commented on #67
🎉

[2017-11-09 06:49] #67 closed

[2017-11-09 08:51] tejasbubane commented on #98
I would like to work on this. Will keep an eye on the pending Jest issue.

[2017-11-29 07:18] martiuslim commented on #90
@tejasbubane hope you don't mind I submitted a pr since it has been a month since you brought this up :smile:

[2017-11-29 09:04] tejasbubane commented on #90
@martiuslim No worries 👍

[2017-11-29 09:14] mattphillips commented on #90
Closing as merged :smile:

[2017-11-29 09:14] #90 closed

[2017-11-29 09:37] tejasbubane commented on #98
The PR is merged, should I wait for next release of jest?

[2017-11-29 09:45] mattphillips commented on #98
@tejasbubane you could work on it now but we will have to sync merging/releasing this matcher with the next release of Jest.

We should also probably add a note to the matcher docs that it will only be compatible with `>jest@22`

[2017-11-29 09:59] mattphillips commented on #42
I've added this matcher in f91bd4f708a73118599acbbb9628955aec49f924

[2017-11-29 09:59] #42 closed

[2018-01-05 00:16] ChrisCinelli commented on #98
I am getting:
[code]

I ma using `jest@22.0.4` and `jest-extended@0.5.0`

[2018-01-05 00:21] mattphillips commented on #98
Hey @ChrisCinelli this matcher hasn’t been implemented yet.

@tejasbubane jest@22 has landed now do you still want to work on this? If not I can look into getting it added tomorrow 😄

[2018-01-05 00:33] ChrisCinelli commented on #98
Yes, I found out.

But I have bad news:
[code]

Yield to:

[code]

[2018-01-05 00:36] ChrisCinelli commented on #98
If you want to be able to implement `. toHaveBeenCalledBefore`, you need that every call to an instance of `jest.fn()` to increment a global counter and saving itto `myFunc.mock.callOrder` (maybe ?)

[2018-01-23 18:40] acostalima opened #112 "New matcher: .toHaveBeenCalledTimely(array)"
**Feature Request**

Follow-up of: https://github.com/facebook/jest/issues/5363

`.toHaveBeenCalledTimely` accepts an array of temporal differences in milliseconds which specify the maximum time in between invocations to a mock. The matcher fails when at least one of the specified timing constraints is not fulfilled.

Example:

[code]

Following the reasoning outlined [here](https://github.com/fac

[2018-02-04 00:06] mattphillips commented on #98
@tejasbubane @ChrisCinelli I've added and published this matcher in v0.6.0 so I'm going to close this issue.

@ChrisCinelli because of the calls to mocks happening in the same event loop the timestamps are identical - as you described. Because of this for this matcher to work it depends on the mock being asynchronous and ran in a different context. For example:

[code]

[2018-02-04 00:06] #98 closed

[2018-02-04 00:13] mattphillips commented on #112
Hey @acostalima #98 has now been published in v0.6.0.

This matcher is possible to make now, like #98 to work the mocks will need to be asynchronous to be ran in different contexts to generate different timestamps. That is something that will happen in user land. So we can just assume the test author is doing this and perform the comparisons on the timestamps :smile:

I'd be more than happy for yo

[2018-02-09 14:54] acostalima commented on #112
Great! I'll work on this ASAP.

Concerning the implementation, the behavior I'm actually looking for, at least in my specific use case, it to ensure the mock is called only **_after_** the specified milliseconds have elapsed, instead of _until_. So, following the example I presented above:

- The 1st retry should only be called after 2000 milliseconds have elapsed since the first call
- The 2nd re

[2018-02-23 21:37] benjamin21st commented on #98
Wouldn't it be more scalable to implement an API for `.series` as opposed to limiting one is called before another?

What if use cases come up for three calls? 1000?

[2018-02-24 10:39] mattphillips commented on #98
Hey @benjamin21st feel free to open a new issue and propose the API that you think would be more scalable 😄

[2018-03-22 10:21] denizdogan opened #114 "A matcher that checks that two arrays contain the same elements"
**Feature Request**

Description: A matcher that checks that two arrays contain the same elements. Examples:

[code]

Possible solution: Given arrays A and B, check that they are equal in length. For each element in A, check that the element is equal to any element in B. If it is, remove the element from both arrays. Loop until both arrays are empty.

[2018-03-22 12:05] mattphillips commented on #114
Hey @denizdogan

I like the sounds of this matcher! I'm not too sure about the name though, as `toMatchArray` sounds like it would need to be identical in terms of order.

How about something like `.toIncludeValues([values])`?

`jest-extended` currently has similar APIs in [`.toIncludeAllMembers([members])`](https://github.com/jest-community/jest-extended/tree/master/src/matchers/toIncludeAllMembe

[2018-03-22 12:12] denizdogan commented on #114
@mattphillips Yeah, I'm not sure what to call it, `.toIncludeValues` isn't 100% accurate either, it sounds like that's the same as `.toIncludeAllMembers` to me! :)

Maybe `.toEqualMembers`? It's hard to describe the matcher concisely. Sure, I can make a PR for this!

[2018-03-28 08:14] Pajn opened #115 "Add asymmetric number matchers"
(Copied from https://github.com/facebook/jest/issues/5880)

**Do you want to request a _feature_ or report a _bug_?**
A feature

I dumped the template as it doesn't fit feature requests very well. Hope you are okay with that.

Today we have asymmetric matchers like `expect.stringMatching` which are awesome for testing dynamic data or only check data that important for the current test. However, th

[2018-04-11 19:10] thiagodp opened #117 "Date API Proposal"
**Feature Request**

Description:
API for Date matchers. Some matchers are inspired by [Jasmine Matchers](https://github.com/JamieMason/Jasmine-Matchers).

Possible solution:

Jasmine-like matchers:
[code]
Additional matchers:
[code]

[2018-04-16 15:25] mattphillips commented on #117
Nice one @thiagodp I like these a lot! Fancy sending a PR for any of them? :smile:

[2018-04-16 15:28] mattphillips commented on #115
Hey @Pajn sorry for the delayed response! I like this a lot 😄

Fancy sending a PR?

_Note:_ We have to wait for custom asymmetric matches to land in Jest's core

[2018-04-16 15:30] mattphillips commented on #114
@denizdogan sorry missed the notification on this! I say lets just start a PR and we can decide on a name after 😆

[2018-04-16 20:17] thiagodp commented on #117
Hello @mattphillips ,
added #118 with `toBeDate()`. It's a first step, but I'll try to add more soon.

[2018-04-17 11:46] LucianBuzzo opened #119 "`toContainAllKeys` will pass when tested against an empty object"
**Bug**

- `package` version: 0.6.0
- `node` version: 9.6.1
- `npm` version: 5.6.0

`toContainAllKeys` will always pass when testing an empty object.
Here's a simple example to reproduce the issue.

[code]

I'll open a PR to fix this shortly

[2018-04-17 12:52] LucianBuzzo opened #121 "`toContainAllKeys` passes on objects without matching keys"
**Bug**
I would expect this test to fail, as the tested object does not contain a key `baz`. However this test will pass.

[code]

[2018-04-18 08:59] denizdogan commented on #114
@mattphillips Yeah, I'll start working on the PR today or tomorrow, I just had a lot of things to take care of IRL 👍

[2018-04-19 15:43] mattphillips commented on #121
Thanks again!

[2018-04-19 15:43] #121 closed

[2018-04-19 15:43] mattphillips commented on #119
👍

[2018-04-19 15:43] #119 closed

[2018-04-19 15:45] mattphillips opened #123 "Add node 6 in travis"
Currently snapshots fail in travis when running in node 6. This is because the colours being used in pretty-format are striped away from the snapshot. There is a related issue in Jest (see https://github.com/facebook/jest/issues/5431), which once fixed should resolve this issue and revert 0d8ac8b.

[2018-04-20 14:41] franciscolourenco opened #125 "Improve setup instructions"
**Feature Request**

Description:
There is no documentation on how to setup if a custom `setupTestFrameworkScriptFile` is already being used.

Possible solution:
Improve docs

[2018-04-23 08:30] mattphillips commented on #125
Hey @franciscolourenco good shout! I’ll update the docs with an example to fix this problem 😀

[2018-04-26 03:37] hustcc opened #126 "new expect toBeApproximate?"
Example:

[code]

or named `toCloseTo`?

It can be satisfied by toBeWithin, but not perfect!

[2018-04-26 13:26] hustcc commented on #126
Whether pr is needed？

[2018-04-27 08:53] mattphillips commented on #126
Hey @hustcc I like this, would you be able to supply a sentence in english of when you should use the matcher?

My concern is with the definition of `approximately` it seems quite loose, how approximate is the matcher? `0.1` or `0.01`?

Perhaps the matcher may benefit from `rounding`, `floor`, `ceiling` etc 🤷‍♂️

[2018-04-27 11:18] hustcc commented on #126
get the `round` of `value`, with decimal digits of `number`.

[fixed-round](https://www.npmjs.com/package/fixed-round) can be used.

[2018-05-01 11:09] DarkLite1 opened #127 "Chaining multiple assertions"
**Feature Request**

*Description:
Would it be possible to chain multiple assertions, one after the other?

Consider the following code:

[code]

It would be great if the last way of doing things was possible too. I'm very new to JavaScript. but I found the following example in the course material where they use the old version of `expect` (before it was Jest) with `mocha`:

`expect(res).toBe(1).t

[2018-05-02 10:28] mattphillips commented on #126
@hustcc sorry I missed your reply! Do you want to close this or open it up with `help wanted`?

I've not got the time at the moment to build this myself

[2018-05-02 10:35] mattphillips commented on #127
Hey @DarkLite1 Jest core currently does not support chaining matchers (See https://github.com/facebook/jest/issues/3998)

For `jest-extended` to support them we would need the core matchers to also be chainable too which isn't going to be possible right now

[2018-05-02 10:51] DarkLite1 commented on #127
Thank you @mattphillips  for the feedback. After reading the other post I see there's support to implement this feature in jest core, although more and more people want it. Someone even suggested to write the code for it. I hope they reconsider their point of view on the matter.

[2018-05-02 11:11] hustcc commented on #126
@mattphillips I hope you can reply whether you would consider adding this api to the project?

If yes, I can help to send a pr!
if no, I can close it, and then do myself. [jest-expect](https://github.com/hustcc/jest-expect)

[2018-05-03 04:52] DarkLite1 commented on #127
That's really great! I'm definitely going to give this a try. Thank you for the fast response 😊

[2018-05-03 04:52] #127 closed

[2018-05-17 07:03] f0rr0 opened #128 "Matchers don't show up in IntelliSense and tests don't typecheck"
**Bug**

- `package` version: 0.7.1
- `node` version: 10.1.0
- `npm` (or `yarn`) version: 1.6.0

What you did: Using `jest-extended` with `ts-jest`.

What happened (please provide anything you think will help): The new matchers don't show up in code hints and the typechecker complains about them not existing.

Reproduction repository (if possible): https://github.com/f0rr0/biostrap/blob/1db4b40dc1

[2018-05-18 09:29] mattphillips commented on #128
Hey @f0rr0 I don't use Typescript so I'm not sure of the usual process for setting this up.

There was a similar question to this and answer [here](https://github.com/jest-community/jest-extended/pull/116#issuecomment-386810430). Let me know if that helps if not I will spend some time on the weekend looking into integrating TS with `jest-extended`

[2018-05-18 18:12] istro commented on #125
@franciscolourenco First of all, thanks for the great work. I'd like to +1 this request, as I couldn't figure out how to add it if the config in parallel with another script we have at all :(. What I ended up doing is moving the other script into `setupFiles` array and it worked fine. However, it would be nice to know how to invoke all `jest-extended` setup manually (so I could just add it as a li

[2018-05-20 10:09] karl-chan opened #129 "Bug: toBeNumber() behaviour for Infinity and NaN"
**Bug**

- `package` version: 0.7.1
- `node` version: 9.10.1
- `npm` (or `yarn`) version: 5.7.1

Relevant code or config

[code]

What you did: The README suggests that `expect(NaN).toBeNumber()`  and `expect(Infinity).toBeNumber()` should pass.

What happened (please provide anything you think will help):
Both calls failed, with message:
[code]

[2018-05-20 10:59] mattphillips commented on #129
Thanks @karl-chan for raising this! I've just published a fix in [v0.7.2](https://github.com/jest-community/jest-extended/releases/tag/v0.7.2) 😄

[2018-05-20 10:59] #129 closed

[2018-05-20 11:02] mattphillips commented on #125
I've just updated the docs to show how to setup `jest-extended` with other test framework scripts.

See: https://github.com/jest-community/jest-extended#setup

[2018-05-20 11:02] #125 closed

[2018-05-24 15:49] Guardiannw opened #130 "Add matchers for asserting that a promise has resolved or rejected (regardless of value)"

[2018-05-27 17:13] blikblum opened #131 "Make toHaveBeenCalledBefore work with synchronous functions + support Jest 23"
**Feature Request**

Description:
Currently toHaveBeenCalledBefore does not work if two functions are called in the same JS task due to is reliance on timestamp

Possible solution:
Jest 23 replaced timestamps by invocationCallOrder (https://github.com/facebook/jest/pull/5867). This allow to properly implement toHaveBeenCalledBefore.

This will be necessary also to Jest 23 support

[2018-06-02 18:01] tejasbubane opened #134 "toBeDate matcher not exported"
The `toBeDate` matcher was added in https://github.com/jest-community/jest-extended/pull/118 but is not exported in  https://github.com/jest-community/jest-extended/blob/master/src/matchers/index.js.

Can we add some tests to make sure all matchers in the `src/matchers` directory are exported?

[2018-06-02 18:21] tejasbubane opened #136 "Random test failure with `toHaveBeenCalledBefore`"
**Bug**

#### What you did:

PR: https://github.com/jest-community/jest-extended/pull/135

#### What happened (please provide anything you think will help):

Encountered unrelated build failure: https://travis-ci.org/jest-community/jest-extended/builds/387173049
Also saw this a couple times while running jest on local system.

[2018-06-11 07:53] #131 closed

[2018-06-11 07:54] mattphillips commented on #136
Hey @tejasbubane thanks for reporting this should be fixed by #132 :smile:

[2018-06-11 07:54] #136 closed

[2018-06-11 07:56] mattphillips commented on #134
@tejasbubane I agree it would be great to get some sort of integration test around this or to automate the process of exporting everything - any ideas?

[2018-06-21 07:07] amercier opened #138 "New matchers: toHaveBeenCalledOnce and toHaveBeenCalledOnceWith"
I think it would be nice to add the following matchers for `Mock`:

### toHaveBeenCalledOnce

[code]

that would be equivalent to:

[code]

### toHaveBeenCalledOnceWith

[code]

that would be equivalent to:

[code]

### Rationale

I find myself regularly writing tests with only one call per mock. Especially while writing unit tests, where I prefer writing many small, atomic tests, rather than one

[2018-06-25 03:32] frederickfogerty opened #139 "Remove chalk to support browsers"
**Feature Request**

Description:

As jest is being used more and more in the browser, it would be great if this module could run in the browser. Currently this repo is blocking me due to its dependency on chalk. It seems that it's only used in [one place](https://github.com/jest-community/jest-extended/blob/3fdb02487c5bb5e4fa012c65c9eb519d963dc34e/src/index.js#L1)

Possible solution:

Remove the

[2018-06-26 09:30] Aminadav opened #141 "VSCode do not support this."
VSCode do not support this

How can I make it intellisense?

![image](https://user-images.githubusercontent.com/3584317/41902620-95019eb2-793c-11e8-9f4e-4af3aa36fc44.png)

[2018-06-30 18:39] benjaminkay93 commented on #138
if nothing else im happy to raise a pr for this

[2018-06-30 18:42] benjaminkay93 commented on #112
hey @acostalima, did you manage to do this? if not I am happy enough to raise a PR for this as it would be helpful for myself anyways.

[2018-06-30 20:48] acostalima commented on #112
@benjaminkay93 not yet, but I will have some time tomorrow. Thanks for the reminder too! 🙏

[2018-06-30 22:53] acostalima commented on #112
I just learned Jest does not store timestamps for mock's invocations anymore 😞(https://github.com/facebook/jest/pull/5867). Without such information, I don't think we can implement this matcher anymore... do we?

[2018-06-30 23:34] benjaminkay93 commented on #112
Ahh I hadn't seen this 😢 it explains the changes to toHaveBeenCalledBefore that have been merged in but not published here.

It might be worth asking for this to be revisited to reinstate the timestamps to enable this, I can see a legitimate use case for a matcher such as this. Without that, this wouldn't be possible from what I know of the .mock information. If we had both we could maintain suppo

[2018-07-01 14:52] acostalima commented on #112
I guess we can ask. However, `.timestamps` was explicitly removed in favour of `.invocationCallOrder` (https://github.com/facebook/jest/issues/4402, https://github.com/facebook/jest/pull/5867) due to precision issues, although @brigonzalez was headed towards a possible solution.

[2018-07-01 18:46] brigonzalez commented on #112
You can reinstate timestamps and use node’s process.hrtime() to calculate milliseconds between another process.hrtime() call. Although, not sure how process.hrtime() really looks as a “timestamp” since it’s using an arbitrary process to calculate a time difference.
Looks like [convert-hrtime](https://github.com/sindresorhus/convert-hrtime) handles that conversion nicely.

[2018-07-01 23:04] acostalima commented on #112
Ok. I'll start a discussion in Jest's repo to get feedback. If we are good to do, let me know if you'd like to do the honors, @brigonzalez, and open the PR to reinstate the record of timestamps.

[2018-07-02 14:55] brigonzalez commented on #112
Sure thing! Let me know if we’ve got the green light, or shoot me a link to the discussion!

[2018-07-03 10:55] benjaminkay93 opened #144 "New Matcher: toBeIso8601(Date), toBeIso8601Strict(Date)"
**Feature Request**

***Description:***
2 matcher's, to test for a date string matching the ISO8601 standard.
* toBeIso8601() to test the string complies to the pretty loose ISO8601 [standard](https://en.wikipedia.org/wiki/ISO_8601).
* toBeIso8601Strict() to test that the string matches for an exact ISO8601 time in UTC YYYY-MM-DDTHH:MM:SS.SSSZ

***Possible solution:***
Regex matchers for the Stric

[2018-07-06 21:05] JShabtai opened #145 "New matcher: toBeNear(value, range)"
**Feature Request**

Description:
It would be nice to have a way of checking that a value is "close enough" to the expected result (e.g. due to roundoff errors). Using toBeWithin() can accomplish this, but it's a fairly verbose way of doing it.
Possible solution:
Should be equivalent to .toBeWithin(value - range, value + range)

[2018-07-07 01:58] jadbox opened #146 "feature: toContainEqual+toMatchObject"
Based on issue: https://github.com/facebook/jest/issues/6588

## 🚀 Feature Proposal

Find an object in an array that matches like an object.

## Motivation

There may be times where you need to match a partial object against something in a returned list.

## Example

I am writing tests for an ORM that saves an object, but it adds extra metadata to the objects when they are later retrieved. The ord

[2018-07-08 12:50] benjaminkay93 commented on #146
I like this, i can see a use case for it,

i've wrote this for context, as I feel the jest matchers names arn't really that clear, and your suggestion would simplify the logic for checking if some element appears in an array at any point. however is toContainMatch clear language? would something like `expect(Array).toMatchAtleastOnce(expected)` that can take any input for the expected?
[code]

[2018-07-08 13:03] benjaminkay93 commented on #145
so something like this:
[code]

[2018-07-08 13:10] benjaminkay93 commented on #145
so in short, these should all pass?
[code]

[2018-07-08 13:44] benjaminkay93 commented on #146
So for example, these are the behavious i would expect from such a matcher:
[code]

[2018-07-08 13:45] benjaminkay93 commented on #146
I don't know how we would deal with this use case though, objects in nested arrays,
[code]

[2018-07-08 13:54] benjaminkay93 commented on #146
from .toMatchAtleastOnce() i can see a case being drawn for a whole raft of matchers:
* toMatchAtleastOnce()
* toMatchExactlyOnce()
* toMatchAtleastTiems()
* toMatchExactlyTimes()
* toMatchAtPosition()
* toMatchFirstElement() --> first element of array
* toMatchLastElement() --> last elemtent of array

I dont know how this would be recieved as i'm not sure if these things exist or not yet.

[2018-07-08 23:14] benjaminkay93 commented on #145
fair, that that makes sense. I would like to see this myself, but i don't know what others would think

[2018-07-10 05:21] nolazybits opened #147 "toHaveBeenCalledBefore throw an error"
**Bug**

- `package` version: 0.7.2
- `node` version: 10
- `npm` (or `yarn`) version: 1.7

From the documentation example

[code]
you will get the following error

[code]

[2018-07-10 13:34] Julian-Jurai commented on #138
We have something similar but not as semantic :

[code]

[2018-07-10 21:13] acostalima commented on #112
@brigonzalez https://github.com/facebook/jest/issues/6672

[2018-07-11 18:47] jadbox commented on #146
Perhaps I'm biased here, but I see lists as fundamental primites worthy of having robust testing functions as you mentioned above. I'm using Jest correctly to write tests for a new DB I'm developing, and as you can expect, many of the APIs return lists that need to be verified using a variety of ways, like what @benjaminkay93 mentioned above.

[2018-07-12 13:41] cs4inctec opened #148 "toBeObject matches also array"
**Bug**

- `package` version: 0.7.2
- `node` version: 8.11.2
- `npm` version: 5.6.0

Relevant code or config

[code]

What you did:
I tested if an element is an object and printed it to screen.

What happened (please provide anything you think will help):
Output was an array, but the test did not fail.
I expected that an array would fail on toBeObject.

[2018-07-12 17:48] benjaminkay93 commented on #147
Your using jest 23 right? this has been fixed in a PR that been merged in https://github.com/jest-community/jest-extended/pull/132, However this has not yet been published, until then you will have to use either jest 22, or not use this matcher :P

[2018-07-12 17:50] benjaminkay93 commented on #147
However the docs on here do say jest 22=<  so its expected to be working in jest 23, I know the docs have been updated in https://github.com/jest-community/jest-extended/pull/132 but is it worth keeping them compatible with 22 as well?

[2018-07-12 17:52] benjaminkay93 commented on #146
Thats the same use case for me, a step beyond this would be schema testing, maybe we could wrap a an ajv schema testing into a matcher aswell, i would love to be able to do say:
[code]

[2018-07-12 17:58] benjaminkay93 commented on #148
I ran this myself, it also passes on node 10.5 with npm 6.1, I don't think this is expected behaviour

[2018-07-13 03:15] nolazybits commented on #147
Awesome thank you much for the feedback.
will keep an eye on the PR

Came up with a bad workaround
[code]
mocking my function and pushing to an array and checking the array against the expected :/

[2018-07-13 08:03] benjaminkay93 commented on #147
you could do
[code]

[2018-07-13 08:06] benjaminkay93 commented on #147
The jest api changed from timestamp to invocationCallOrder so you dont have to mock out a timeout function inside the jest.fn() to get the innvocation order.

[2018-07-13 23:04] nolazybits commented on #147
Thank you for the feedback
I'll give it a try on Monday :)

[2018-07-14 19:05] mvpowers opened #149 "Add toBeHexadecimal Method"
**Feature Request**

Description: Add a method to check whether a string is a valid hexadecimal.

Possible solution:
expect('#e3e3e3').toBeHexadecimal();
expect('#fff').toBeHexadecimal();

This could be helpful for some front-end tests. I'll be happy to submit a PR if this sounds like a good idea.

[2018-07-18 12:32] jonohayon commented on #147
Having the same problem, can the module owner publish a new version to npm?

[2018-07-30 12:06] mattphillips commented on #149
Hey @mvpowers I like the sound of this matcher, feel free to send a PR 😄

[2018-07-30 12:34] #134 closed

[2018-07-30 12:56] andrew-yustyk commented on #148
Seems like the quickest solution is to add `!Array.isArray(expected)` condition to the toBeObject matcher

[2018-07-30 14:05] mattphillips commented on #145
Hey @JShabtai @benjaminkay93 I like this matcher, nice work! I agree that the second range argument should be required.

Do either of you fancy sending a PR for this?

[2018-07-30 14:08] mattphillips commented on #144
Hey @benjaminkay93 I like the proposed matchers :smile: I agree the simple variant could be a bit painful with all of the edge cases but if you are up for the challenge feel free to send a PR 👍

[2018-07-30 14:11] mattphillips commented on #139
Closing as #140 is now merged :tada:

[2018-07-30 14:11] #139 closed

[2018-07-30 14:15] mattphillips commented on #138
Sounds great! Feel free to send a PR with this, just drop a note here if you are working on it :smile:

[2018-07-30 14:19] JShabtai commented on #145
I could give it a go, but I'm not sure when I'll have time. If nobody else wants to do it, I'll get around to it _eventuall,_ but that might be a while.

[2018-07-30 14:43] mattphillips commented on #148
Fixed in 230d07120a902362e64e27d5d2da28fb2956feb7

[2018-07-30 14:43] #148 closed

[2018-07-30 15:04] mattphillips commented on #114
merged in #122

[2018-07-30 15:04] #114 closed

[2018-07-30 15:11] denizdogan commented on #149
@mvpowers @mattphillips Not that I oppose the idea, but shouldn't this be implemented as a simple `toMatch`? The following seems simple enough (not tested):

[code]

[2018-07-30 15:58] mattphillips commented on #147
Hey thanks for raising this, sorry about the delay in getting this published! It is now out in [v0.8.0](https://www.npmjs.com/package/jest-extended/v/0.8.0)

[2018-07-30 15:58] #147 closed

[2018-07-30 16:00] mattphillips commented on #149
@denizdogan I think this matcher is a useful one to save people having to write out the regex and reads nicer than `toMatch`

[2018-07-30 16:01] mattphillips commented on #131
Hey @uc2pac this fix has been released today in [v0.8.0](https://www.npmjs.com/package/jest-extended/v/0.8.0) sorry for the delay!

[2018-07-30 18:19] amercier opened #150 ""TypeError: Object.values is not a function" on Node 6"
**Bug**

- `package` version: 0.8.0
- `node` version: 6.14.3 (LTS, [end-of-life April 2019](https://github.com/nodejs/Release))
- `npm` (or `yarn`) version: 0.33.11

Relevant code or config

[code]

What you did:

Require `jest-extended` on Node 6.

What happened (please provide anything you think will help):

[code]

[2018-07-30 21:52] benjaminkay93 commented on #138
Ive got a branch locally with a toHaveBeenCalledOnce matcher, it was queit straightforward, however the toHaveBeenCalledOnceWith is causing my brain issues, should we use === equality on objects or == equality on them?

[2018-07-30 22:00] benjaminkay93 commented on #150
Ahh, Object.values only got introduced in node 7, Looks like it got brought in with https://github.com/jest-community/jest-extended/pull/142

[2018-07-30 22:03] benjaminkay93 commented on #150
We could swap this out for
[code]

[2018-07-31 08:56] mattphillips commented on #150
Thanks @amercier for raising this, I've just published [v0.8.1](https://www.npmjs.com/package/jest-extended/v/0.8.1) with @benjaminkay93's fix :smile:

[2018-07-31 08:56] #150 closed

[2018-07-31 09:11] mattphillips commented on #138
@benjaminkay93 I think we probably want to do deep equality on them you can use the [`equals`](https://github.com/jest-community/jest-extended/blob/master/src/utils/index.js#L11) util to compare two objects deeply or the [`contains`](https://github.com/jest-community/jest-extended/blob/master/src/utils/index.js#L3) util to deeply check if an array contains an object

[2018-07-31 09:29] benjaminkay93 commented on #138
Sweet thank you @mattphillips, big help

[2018-07-31 10:07] mattphillips commented on #146
Hey guys sorry to take so long to chime in on this!

I'm open to adding a partial matching assertion for lists 👍

Around the naming conventions, I would say that it would be better to be closer to the current naming style for [Array's](https://github.com/jest-community/jest-extended#array) with `.toInclude` as the prefix.

Off the top of my head I think I would suggest something like:

`.toInclude

[2018-07-31 14:46] deser opened #153 "`toHaveBeenCalledBefore` should provide API for comparing concrete calls"
Consider failing test:
[code]
So I'd like to compare second call of a mocked function but `toHaveBeenCalledBefore` can't do that

[2018-07-31 20:27] jadbox commented on #146
@mattphillips For how deep the matches go for mixed collection types, I don't have a strong opinion on. I'd probably opt for `expect(list).toIncludePartial({ color: 'blue'})` since we can assume I'm not trying to validate against types but rather my intent it to just check "hey, is this value matching something in this collection?".
As @benjaminkay93 mentioned, it would be useful to be also able t

[2018-08-01 07:11] abenchi opened #154 "TypeError: Cannot read property 'length' of undefined"
**Bug**

- `package` version: 0.8.1
- `node` version: 8.11.2
- `npm` (or `yarn`) version: 1.7.0

Relevant code or config

[code]

What you did: I want to verify that a function call to localStorage is performed before the setState.

What happened (please provide anything you think will help): This code works great with the version `0.7.2`. Once I upgrade to `0.8.0` or `0.8.1` this tests does not w

[2018-08-01 08:53] benjaminkay93 commented on #146
maybe we give the option to include a predicate, then people can write their own thing to check these things with a passed in function?

[2018-08-01 12:25] benjaminkay93 commented on #154
This was because of a breaking change in jest 23, removing the old method of how this function work, if you bump your jest version it should work fine :)

[2018-08-01 14:04] deser commented on #153
The problem is that sinon has graceful capabilities for that: `expect(spy.firstCall).calledBefore(spy2.secondCall)`

I believe something like that would be great

[2018-08-01 14:20] Gecko222 commented on #128
I have same problem in PhpStorm, i need to `import 'jest-extended';` :(

[2018-08-01 17:44] abenchi commented on #154
Wow ok thanks @benjaminkay93 for your response. I will try it. Thanks again

[2018-08-02 05:37] deser commented on #153
Thanks!

[2018-08-02 12:50] mattphillips commented on #146
@benjaminkay93 we already have [`.toSatisfyAll`](https://github.com/jest-community/jest-extended#toSatisfyAll) which takes a predicate :smile:

@jadbox I think `.toIncludePartial(value)` and `.toIncludePartialTimes(value, times)` is probably sufficient.

[2018-08-03 12:56] deser opened #156 "toInclude fails in node v8.11.3"
TypeError: string.includes is not a function

[2018-08-03 14:08] mattphillips commented on #156
Hmmm strange! [`.includes`](https://node.green/#ES2015-built-in-extensions-String-prototype-methods-String-prototype-includes) should work fine in Node 8.

Would you mind sharing reproduction steps?

[2018-08-03 14:33] deser commented on #156
Sorry guys, I passed object instead of string :)

[2018-08-03 14:33] #156 closed

[2018-08-03 15:02] mattphillips commented on #156
:laughing: it’s all good. I’m planning on adding some type checking into jest-extended to catch this and give a better error message :)

[2018-08-03 15:14] deser commented on #156
Yep, thanks 👍

[2018-08-03 23:27] JShabtai commented on #145
Looking at the `toBeCloseTo` matcher built into expect, I'm wondering if having two similar functions with similar names might cause too much confusion?

Frankly, I don't like that function, since it takes the number of decimal places to consider, rather than just a range (you may want to use this for large numbers with nothing after the decimal place, or ranges like 0.004 instead of 0.01 or 0.001

[2018-08-07 20:25] #154 closed

[2018-08-11 22:36] salchichongallo commented on #128
Hi, just require the package in your setup file:
[code]
Typechecking should work.

[2018-08-13 16:20] mattphillips opened #157 "toThrow(constructor, message)"
Clone of https://github.com/facebook/jest/issues/3659

[code]

All that needs working out is the name as `toThrow` is built into core and so this shouldn't clash with it

[2018-08-14 03:53] #149 closed

[2018-08-14 11:25] denizdogan commented on #149
It's too late for this comment I guess, but hexadecimal notation can look different in different languages. CSS is the only one I know of that uses `#` as the prefix, JS itself uses `0x`, HTML uses `&#x`, etc. It's not obvious in the name `toBeHexadecimal` that it's the CSS variant that's being tested against.

[2018-08-14 12:03] mattphillips commented on #149
@denizdogan I'm happy to extend out it's behaviour to support other languages if you want to send a PR?

[2018-08-14 12:08] mattphillips opened #158 "toBeEmpty Map and Set"
Add support to `toBeEmpty` for `Map` and `Set` data structures

[2018-08-14 13:46] denizdogan commented on #149
@mattphillips I'm not really interested in sending a P.R. for this particular method (I would have just used the regex version I suggested earlier) but I'm just pointing out that "being hexadecimal" is a broad term and if the method is supposed to check that the value is a valid hexadecimal CSS value of length 3 or 6, it would be good if that was reflected somewhere in the documentation too.

[2018-08-14 17:03] mattphillips commented on #158
Hey @moredip that sounds like a sensible approach! I like that it will also apply to custom iterables :smile:

I think we might be able to leverage the spread operator to condense the logic to something like:

[code]

Fancy sending a PR for this?

[2018-08-14 18:33] desm opened #159 "Feature Request: extend the expect library"
**Feature Request**

Description:

Would it be (have been?) possible to extend the 'expect' library instead? My use case is that I am using Jest from the command line (the "normal" way), but am also trying to use the 'expect' library directly from within my client-side code in order to make assertions. That way I only have 1 assertion library to learn.

[2018-08-14 18:55] mattphillips commented on #159
I'm not sure I fully understand the question of extend the expect library instead.

Jest allows it's `expect` to be extended via the `expect.extend` API, that is what `jest-extended` does inside of the entry point of the lib. When setting up `jest-extended` on the CLI you need to tell Jest you are using `jest-extended`, Jest allows you to do that in the `setupTestFrameworkScript` field of the conf

[2018-08-14 20:13] desm commented on #159
OMG I think that's exactly what I wanted! I'll give it a try and let you know. Thanks Matt!

[2018-08-15 07:56] desm commented on #159
This worked for me:
[code]

So now I can do both chaining thanks to jest-chain, and use the more expressive tests from jest-extended. Great!

[2018-08-27 14:20] karl-chan opened #162 "Incorrect type definition for toSatisfy() and toSatisfyAll()"
**Bug**

- `package` version: 0.8.1
- `node` version: 8.11.3
- `npm` (or `yarn`) version: 6.1.0

##### Relevant code or config
The readme demonstrates that `toSatisfy()` and `toSatisfyAll()` should accept a predicate:
[code]
but the TypeScript compiler complains (for this exact example):
`Argument of type '(n: any) => boolean' is not assignable to parameter of type '() => boolean'.`

##### What ha

[2018-08-31 01:56] hustcc commented on #145
Same with: https://github.com/jest-community/jest-extended/issues/126

[2018-09-07 13:33] benjaminkay93 commented on #144
Raised the toBeIso8601Strict here https://github.com/jest-community/jest-extended/pull/164 , but not touched the toBeIso8601 yet, feeling its gonna be abit of a faff :P

[2018-09-07 13:35] benjaminkay93 commented on #157
I like the idea of toThrowWithMessage

[2018-09-07 13:41] benjaminkay93 commented on #159
A question would be, is it worth bringing chaining directly into jest-extended, to enable that functionality out the box when you bring in jest-extended?

I presume (my outlook) is that `jest-extended` gives jest a tonne of steroid injections, this would just be another direct one of those things.

[2018-09-07 13:43] benjaminkay93 commented on #162
I believe this will be resolved in this pr https://github.com/jest-community/jest-extended/pull/163 as raised by @tony19

(This is just a note for whomever comes into this issue to look :) )

[2018-09-07 13:59] benjaminkay93 commented on #130
This has been sat here for a while, tbh I'm not sure how to go about this, nor how I feel about it either.
I say this because I'm on 10% time at work and figured I'm free enough to kick-start this conversation (hopefully).
https://github.com/mattphillips/babel-jest-assertions is potentially a solution, as this enforces the expect to be called in the advent of a none existent resolve/reject.

I was

[2018-09-07 14:34] benjaminkay93 commented on #141
erm, I think it does? however, it doesn't work locally for me in my vscode,  but I have seen it working on some things.

[2018-09-08 05:58] mattphillips commented on #157
@natealcedo yup sounds good to me 👍

[2018-09-08 06:01] mattphillips commented on #162
Closing as #163 is now merged, I’ll publish the fix in a couple of days as I’m AFK travelling atm

[2018-09-08 06:01] #162 closed

[2018-09-08 13:15] natealcedo commented on #157
So I've actually started taking a look at how to implement this. I thought it would be a good idea to copy what jest's default `toThrow` matcher currently does.  On that note I have a couple of questions.

1. Should we be doing something like this `toThrowWithError(error, message)` where `message` can either be a regex or a string as per what jest's `toThrow` does?
2. How strict do we want to be w

[2018-09-08 14:00] mattphillips commented on #157
@natealcedo I like the idea keeping this  close to Jest’s current API with regex support.

As for the validation we should probably fail the matcher  with a nice error message, saying the argument is missing.

At some point in the future I’m planning on adding validation throughout all of the matchers so don’t overthink it for now, perhaps just checking the message is supplied :smile:

[2018-09-13 07:01] SimenB commented on #130
@mattphillips ping 🙂

[2018-09-13 11:59] mattphillips commented on #130
Hey guys sorry for the delay in coming back to this, I’m currently holidaying and AFK for the most-part.

@benjaminkay93 I think this should be possible with the new async matchers. I’d imagine it would be a similar implementation to Jest’s .resolves API.

[2018-09-13 16:15] benjaminkay93 commented on #130
okay, im happy to give this a go if nobody else wants to, are there any examples of async custom matchers knockin about? would make life easier, ill ofc have a google too

[2018-09-13 16:36] benjaminkay93 commented on #130
sweet cheers matt, enjoy your hols! 🏖

[2018-09-17 13:36] Jerome1337 opened #166 "toBeHexadecimal is not a function"
I'm using `toBeHexadecimal()`  but this produce this error

[code]
`toBeHexadecimal` function seem not inside the lastest release while the documentation is already updated.

Do you know when the next release will be done ?

[2018-09-17 18:58] mattphillips commented on #166
Hey @Jerome1337 this matcher has just been released in [v0.9.0](https://www.npmjs.com/package/jest-extended/v/0.9.0) 🎉

[2018-09-17 18:58] #166 closed

[2018-09-23 17:10] mattphillips commented on #158
Merged 🎉

[2018-09-23 17:10] #158 closed

[2018-09-24 13:47] natealcedo commented on #157
Let’s close since #170 fixes this :)

[2018-10-02 19:58] haldunanil opened #171 "TS2339: Property 'toContainKeys' does not exist on type 'Matchers<any>'."
**Bug**

- `package` version: 0.10.0
- `node` version: 8.10.0
- `yarn` version: 1.9.4
- `typescript` version: 3.1.1

Relevant code that is causing the error:

[code]

*What you did:*

I included `import 'jest-extended';` after the Enzyme and enzyme adapter imports in the setup file.

*What happened (please provide anything you think will help):*

The tests fail with the error in the title.

*Repro

[2018-10-04 20:36] mattphillips commented on #157
Released as part of [v0.11.0](https://github.com/jest-community/jest-extended/releases/tag/v0.11.0) :tada:

[2018-10-04 20:36] #157 closed

[2018-10-09 09:38] victorsmirnov opened #172 "Add instruction for TypeScript setup"
**Suggestion**

Update the documentation and add simple instruction how to use the `jest-extended` library with TypeScript maybe under the setup section.

- Types for the Typescript are included in the library, no need to install any additional type definition (like for example `@types/jest`).
- Import types with the command `import "jest-extended";` in test TypeScript files.

Let me know if I sho

[2018-10-09 11:28] mattphillips commented on #172
Hey @victorsmirnov feel free to send a PR adding this to the docs in the readme.

I assume this is the correct usage for Typescript (I don't use TS if you couldn't tell :wink:)

[2018-10-15 21:47] mattphillips commented on #145
@natealcedo have you started on this yet? If not @marharyta your help will be greatly appreciated :)

[2018-10-16 01:29] natealcedo commented on #145
hey @marharyta 	! Please go ahead. I was gonna do it over the weekend but I had other commitments. Just shoot if you need any help. :)

[2018-10-16 01:59] mikecann commented on #145
Something like this does the trick I think?

[code]

[2018-10-18 08:42] mdluo commented on #141
One workaround is to require `jest-extended` explicitly

[2018-10-23 00:59] pedro-mass commented on #172
@victorsmirnov Didn't work for me. I get this error when trying:
[code]

[2018-10-29 10:50] Morikko commented on #130
Would it be possible to return the error message when `toResolve()` fails ?
Now, it is quite hard to debug without running extra manual tests.

[2018-11-04 09:09] harelmoshe opened #182 "Suggestion: add a new matcher - toHaveAllMembersOfType(...)"
**Feature Request**

Description:

I often find it useful (considering the nature of our system) to test that all array-members are of the same type, which can currently be done by using the `toStatisfyAll` matcher:

[code]

However, this could be done by a dedicated matcher and have a shorter syntax.

Possible solution:

Introduce a new matcher, say `toHaveAllMembersOfType()`, that will be used l

[2018-11-05 09:48] mattphillips commented on #182
Hey @harelmoshe I like this!

I would suggest changing the name to `.toIncludeAllMembersOfType(Type)`  to be consistent with current [array matchers](https://github.com/jest-community/jest-extended#array).

Do you want to send a PR for this?

[2018-11-05 09:50] harelmo commented on #182
@mattphillips sounds great :)
I would love to send a PR, will do in the next couple of days.

[2018-11-05 09:51] harelmoshe commented on #182
@mattphillips sounds great :)
I would love to send a PR, will do in the next couple of days.

[2018-11-08 15:43] phapp88 commented on #145
I'd like to implement this. Should tests pass when the received value is equal to value plus or minus range?
[code]
Also, I think naming the second argument `epsilon` would make it slightly more clear. Any thoughts on that?

[2018-11-08 15:56] JShabtai commented on #145
@phapp88 I don't think it should matter too much whether the bounds match, but I would lean towards saying the tests you posted should pass. This use case is already for fairly fuzzy tests, having one more passing value shouldn't be a problem.

I'm not sure if epsilon is a better name. I think that's really only going to be clear to people with a background in math/science. Maybe 'marginOfError',

[2018-11-08 16:08] phapp88 commented on #145
@JShabtai Yeah, you make a good point that epsilon might not be clear for some people. I think 'offset' works pretty well.

[2018-11-12 20:01] harelmoshe commented on #182
@mattphillips Which option would you think of as more intuitive to represent the type:
[code]
or
[code]
?

The first one is more concise but can be misleading (since `Number` is not the `typeof 1`, e.g.), while
 the second one is more jest-ish but kind of verbose. Any thoughts here?

[2018-11-16 03:41] yordis commented on #172
@mattphillips I see that you have the type definitations already.

Is this still an issue?

[2018-11-22 10:05] mdazy commented on #172
@yordis , yes, the import is still necessary otherwise the extra matchers are not recognized.

[2018-11-28 00:09] nicoespeon opened #185 "[Suggestion] .toVerifyAllCombinations([args]) matcher for Functions"
**Feature Request**

Hi there 👋

## Description

I'd like to propose a new `Function` matcher: `.toVerifyAllCombinations([args])`.

It would test all combinations of given parameters to the function under test, and match against previous snapshot.

The main usage would be a test-after scenario (it's a snapshot test), to quickly set up a safety net over legacy code, before refactoring.

### 📖 Conte

[2018-11-29 07:11] yofriadi opened #186 "expecting nested object in .toContainEntries"
Description: expecting nested object in .toContainEntries

when I have object like this
[code]

expecting
[code]
does not work

I have to used `.toHaveProperty` which is more repetitive

[2018-11-30 20:07] jdalrymple commented on #172
I also removed @types/jest and it errors out with:

[code]

[2019-01-13 13:09] jhalvorson opened #189 "'toBeString' does not exist on type 'Matchers<any>'"
Hi, I'm currently getting the following error when using Typescript:
[code]

**Bug**

- `package` version: 0.11.0
- `node` version: 8.5.0
- `npm` (or `yarn`) version: yarn 1.5.1

Relevant code or config

[code]

What you did:

What happened (please provide anything you think will help): Running the test generates the issue and fails the test, also the Typescript error comes up in my editor.

[2019-01-13 17:43] juanmait commented on #172
I'm including it in `tsconfig.json` like this:
[code]

It's seems to work fine. No need to import it anywhere. Do you see any possible downside with this approach?

[2019-01-17 18:46] dep commented on #154
I am noticing the same problem on my test.  The `toHaveBeenCalledAfter` appears to be failing with the same error, `TypeError: Cannot read property 'length' of undefined`

Here's my spec:

[code]

And here's my package.json

[code]

[2019-01-17 18:57] dep commented on #154
Downgrading to jest `23.5.0` seems to have fixed it for me.

[2019-01-21 15:24] deser opened #191 "Does .toBeEmpty() works correct after 0.10 release?"
Please, look at pic below:

![image](https://user-images.githubusercontent.com/3010698/51483260-b4b5c280-1da9-11e9-917e-a856a7e46ec3.png)

Previously that test passed, now object with property length:0 is considered empty. Is that correct behavior?

[2019-01-21 15:25] deser commented on #191
Connected with: https://github.com/jest-community/jest-extended/pull/160

[2019-01-23 16:10] lonix1 commented on #172
@victorsmirnov Is there a way to import once globally for all tests, and avoid this: `import "jest-extended";`?

[2019-01-23 16:16] mattphillips commented on #172
I've added the above guidance to the readme see: https://github.com/jest-community/jest-extended/blob/master/README.md#typescript

[2019-01-23 16:16] #172 closed

[2019-01-23 16:19] mattphillips commented on #191
@deser would you be able to share the failing test?

[2019-01-23 16:22] mattphillips commented on #189
Hey @jhalvorson if you follow the recommended TS setup it should fix the problem: https://github.com/jest-community/jest-extended#typescript

Feel free to re-open if this doesn't solve the problem

[2019-01-23 16:22] #189 closed

[2019-02-04 10:12] abdelrahman-elkady opened #192 "Update docs to remove usage of deprecated config key setupTestFrameworkScriptFile"
**Feature Request**

Description: In the last release of Jest `24.0.0` the configuration for scripts to run before tests are changed, deprecating `setupTestFrameworkScriptFile: String` in favor of `setupFilesAfterEnv: []`

See:
- [Jest docs](https://jestjs.io/docs/en/configuration.html#setupfilesafterenv-array)
- [The PR introducing the change](https://jestjs.io/docs/en/configuration.html#setupfil

[2019-02-14 11:59] sergiuchuckmisha opened #195 "expect('a..').toIncludeRepeated('.', 2); does not work"
**Bug**

- `package` version: "jest-extended": "^0.11.1"
- `node` version: v10.13.0
- `npm` version: 6.4.1

Relevant code or config

[code]

What you did: tried to verify is string a valid [JWT](https://jwt.io/) (containing 2 dots)

What happened (please provide anything you think will help):
test failed
Reproduction repository (if possible): not possible

[2019-02-14 12:44] sergiuchuckmisha opened #196 "'toBeHexadecimal' is a disguise name"
First of all: I understand that, according to [documentation](https://www.npmjs.com/package/jest-extended#tobehexadecimalstring), behavior is correct.
What I mean is that name of method `toBeHexadecimal` is disguise. `toBeHTMLHexadecimalColor` or `toBeHexadecimalColor` would be better naming.

**Bug**

- `package` version:     "jest-extended": "^0.11.1"
- `node` version:      v10.13.0
- `npm`  ver

[2019-02-18 11:53] anchnk commented on #195
## Why it's not working

As `toIncludeRepeated` uses [RegExp](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/RegExp) under the hood, substring **`'.'`** is interpreted as **match any characters (except line terminators)**.

In your assertion `expect('a..').toIncludeRepeated('.', 2);`, **`'.'`** match every characters `a`, `.`, `.` which results in **3 matches** an

[2019-02-24 00:56] dandv commented on #145
@brian-lives-outdoors has given a [solution on SO](https://stackoverflow.com/questions/53369407/include-tobecloseto-in-jest-tomatchobject), which I've been using successfully for the past several months.

[2019-02-25 09:10] pacey opened #200 "Feature Request: expect.toThrow with callback"
Hey team, I raised https://github.com/facebook/jest/issues/7958 on the main Jest repo and the team suggested raising it here.

## 🚀 Feature Proposal
I think it would be useful to have a callback for the expect.toThrow function that receives the error that was thrown. Then I can make more assertions on the error in the callback. Quite often the error object has other information on them to verify,

[2019-03-04 11:53] tpluscode commented on #192
What's the correct setup now?

[2019-03-04 12:22] abdelrahman-elkady commented on #192
@tpluscode

Use `setupFilesAfterEnv` to avoid deprecation, changes introduced in #193

[2019-03-05 17:48] benjaminkay93 opened #205 "Insufficient maintainers"
# Feature Request

## Description
Well, not a technical feature request, more an ease of life thing that could mean more movement on Issues/PRs. From what I gather @mattphillips is the only owner/person who can publish to npm from `jest-community`.  This is leading to PR's being open for a long time and issues left unresolved.

I'm not trying to blame you here matt, you're actually brilliant and l

[2019-03-05 19:05] mattphillips commented on #205
Hey @benjaminkay93 thanks for raising this, it's a very valid concern. I've gone missing lately, open source burn out is real.

I think there is definitely room to introduce project maintainers from the community from people showing the right level of interest in the project - that said you do an amazing job in reviewing/raising PRs/Issues and I should have added you as a collaborator ages ago, if

[2019-03-06 09:41] benjaminkay93 commented on #205
Hey there :)

Burn out is very real and you should move around when getting fed up of things, it's totes fine and should be something we all do and get better at doing :)

Never been lucky enough to be a collaborator on an open source project of any size, I would love to get more involved and actively help out more other than just saying "This looks awesome 🎉".

The idea of having a vision/roadmap

[2019-03-13 13:49] jorgegonzalez commented on #191
Not entirely sure if this is related, but I just ran into an issue where the `toBeEmpty()` exposed by `jest-extended` conflicted with `jest-dom`, which also exposes a [`toBeEmpty()`](https://github.com/gnapse/jest-dom#tobeempty) method.

https://github.com/gnapse/jest-dom/issues/86

[2019-03-15 12:23] DavidBabel commented on #205
Your lib is awesome.
Save your energy by delegate ;)

[2019-03-19 15:58] pelx commented on #172
still does not work.

[2019-03-19 16:08] anchnk commented on #172
@pelx What do you mean exactly by

Do you have a `tsconfig.json` file at the root of your project ?
Do you have an error ?
Is there any way to have a minimalistic repo in order to reproduce and troubleshoot the issue ?

[2019-03-29 12:54] PMudra opened #208 "JSON matcher"
**Feature Request**

Description:

This is a copy of facebook/jest#6554 originally requested by @duailibe

Possible solution:

Again, copied from facebook/jest#6554

[2019-04-01 06:55] lonix1 opened #211 "npm audit reports vulnerability with brace package"
An `npm audit` fails because this library uses a vulnerable version of the `braces` package.

It uses version 1.8.5, and should be using at least version 2.3.1.

This is a testing tool, so no big deal... but it's really annoying to see the warning every time I use npm.

[2019-04-01 06:59] lonix1 commented on #141
Create a `globals.d.ts` file with this: `import "jest-extended";`

[2019-04-01 09:30] lirantal commented on #211
Agree with @lonix1, would be great to update the package to make sure the vulnerabilities are addressed.

To be more precise however, the vulnerability is in `braces` which is a nested dependency several levels deep as can be seen in the following screenshot from snyk test pages https://snyk.io/test/npm/jest-extended:

![image](https://user-images.githubusercontent.com/316371/55317670-e2358100-546

[2019-04-01 12:56] duailibe commented on #208
FTR I've published https://www.npmjs.com/package/jest-json. I didn't suggest it here because I wasn't interested in bringing this dependency to my projects.

Feel free to copy my implementation if anyone wants to: https://github.com/duailibe/jest-json

[2019-04-02 07:45] benjaminkay93 commented on #211
@mattphillips just flagging this for you :)

[2019-04-07 07:47] dandv opened #212 "Generalized way to use any matched against keys from .toMatchObject"
**Feature Request**

From this [StackOverflow question](https://stackoverflow.com/questions/55556712/using-jest-matchers-in-tomatchobject):

How can I use any [Jest extend matcher](https://jestjs.io/docs/en/expect) within the [`.toMatchObject(object)`](https://jestjs.io/docs/en/expect#tomatchobjectobject) matcher?

For example, testing that an object has several fields, including a field `foo` > z

[2019-04-12 23:42] lirantal commented on #211
This is still being flagged as a vulnerability until we will upgrade expect on this project.

P.S.
You could get automatic PRs opened with upgrade fix and lockfile re-lock if you connect the repo with snyk. Might help remove this burden.

[2019-04-16 22:58] shaunluttin commented on #172
Instead of a `global.d.ts` file we can add this to our tsconfig.json file:

[code]

[2019-05-01 13:37] matthew1534 commented on #211
There is already a PR for this but it hasn't been merged in: https://github.com/jest-community/jest-extended/pull/198

[2019-05-04 06:23] Tbhesswebber commented on #185
I think this is brilliant (I actually came here to open this issue after seeing the same issue raised on the Jest GH that seems to have been ignored).

@nicoespeon (the OP) has already written an [implementation] (https://github.com/nicoespeon/jest-extended-snapshot#readme) and published it, but having it contained within a repository that is regularly maintained and accessible would be of great v

[2019-05-04 21:23] CoreyKovalik commented on #117
I believe the following shouldn't pass, since 0 value unix codes are common bugs

This currently passes, but I believe should fail:
[code]

[2019-05-04 21:38] thiagodp commented on #117
Hi @CoreyKovalik, I think I disagree with you about `0` to be an invalid value. The Date API defines that argument as "an integer value that is the number of milliseconds since 1 January 1970 UTC". So, there is nothing wrong with it.

Whether an application could not accept it in order to avoid some kind of problem, a programmer should document that with a test case. However, the (Jest-extended) l

[2019-05-04 21:42] CoreyKovalik commented on #117
@thiagodp Was thinking along the lines of the same thing.  Would be nice to have a similar set of matchers for Unix timestamps

[2019-05-04 21:45] thiagodp commented on #117
@CoreyKovalik yes, it would be useful to have such matchers

[2019-05-07 10:07] anchnk commented on #205
Is there any progress on this ?

It seems that a some folks (myself included) are willing to contribute and bring some support  to the project. A bunch of PRs landed but the repository is frozen since January. I understand the situation in here but I think this would be beneficial to have a group of people having ownership in the repository or at least to find a solution.

The project is growing b

[2019-05-10 15:42] mattphillips commented on #212
Hey @dandv I'm not sure this issues belongs in `jest-extended`, `toBeGreaterThan` is a core matcher built into Jest.

I've just checked and it doesn't seem to be available as an asymmetric matcher - perhaps you want to raise an issue/PR there to discuss making all core matchers available as asymmetric matchers?

I'm going to close this for now, but feel free to reopen if I have misunderstood anyth

[2019-05-10 15:42] #212 closed

[2019-05-10 17:37] abdelrahman-elkady commented on #192
Resolved in #215

[2019-05-10 17:37] #192 closed

[2019-05-13 11:37] yossi-eynav opened #216 "Feature Request - ObjectId matcher"
**Feature Request**

Description:
I would like to have a matcher for MongoDB ObjectID,

this way I could do
[code]

or

[code]

what do you think?

[2019-05-22 20:55] matthew1534 commented on #211
This is fixed & merged in, in #198

[2019-05-31 05:31] InExtremaRes opened #218 "Feature Request: toReject should print the error message"
First of all great work, this has been very useful to us.

**Feature Request**

Description: Since #168 the project has `toResolve()` and `toReject()`, bus as pointed in https://github.com/jest-community/jest-extended/issues/130#issuecomment-433866458 (BTW I think that issue can be closed) when `toResolve()` fails there is no message explaining why/how it fails.

Possible solution: Improve the mes

[2019-06-05 13:54] kaidjohnson commented on #211
@matthew1534 Can a new version be cut with this fix so it is available for install via npm/yarn/etc?

[2019-06-05 14:08] matthew1534 commented on #211
@kaidjohnson I can't do that as I'm not one of the NPM owners, I believe @mattphillips can

[2019-06-15 05:51] dandv commented on #117
I'd like to propose a match for a timestamp being "within the last X ms". This is useful, for example, when testing that files like "createdAt" or "updatedAt" were properly updated within about the timestamp of the text.

I'm currently using

[code]

Proposed matcher:

[code]

[2019-06-20 06:32] gutenye opened #219 "toThrowWithMessage does not work with promise"
**Bug**

- `package` version:
- `node` version:
- `npm` (or `yarn`) version:

Relevant code or config

[code]

What you did:

What happened (please provide anything you think will help):

    `Received value must be a function but instead "Error: foo; "` was found

Reproduction repository (if possible):

[2019-06-21 08:32] gdanov commented on #172
solves the problem for me, just note the "include" must be at the root, not child of "compilerOptions" (see the reference https://code.visualstudio.com/docs/languages/jsconfig)

[2019-06-23 20:03] dandv opened #220 "String comparison like in JavaScript"
**Feature Request**

JS supports comparing strings: `'2018-01-01' < '2019-01-01'`. I want to do the same in Jest:

    expect(date).toBeGreaterThan('2019-07-01')

Should this be in core even, relaxing the toBeLess/GraterThan checks for a number parameter?

[2019-07-08 18:32] distante commented on #211
So the NPM package will never be updated?

[2019-07-08 18:41] nazrhyn commented on #211
It looks like the last publish for this package was 5 months ago:
![image](https://user-images.githubusercontent.com/1672405/60834179-0acac680-a18e-11e9-9043-82fd78f3316c.png)

There is a process for "abandoned" packages outlined here: https://www.npmjs.com/policies/disputes
(See **When to use this process**.) Of course, anyone who started down that path would be taking on the responsibility of ma

[2019-07-08 19:11] matthew1534 commented on #211
@mattphillips could be busy, this package is open source and likely not his full time job... Suggesting trying to force his hand for control of the package is a bit extreme; he's the one that has done us the favour. You can fork/clone the latest version of the repo, which has the fix, and publish it to your own private registry if it is a major issue in your workflows.

This is a testing tool whic

[2019-07-08 20:07] benjaminkay93 commented on #211
not tested, but I think this is valid to ignore this if it's just in your `devDepenancies`, I'm not gonna claim its the right thing to do, but until #205 is addressed it might be the best way forward as a tempting solution if its blocking build pipelines.

`npm audit --only=prod`

[2019-07-08 22:05] nazrhyn commented on #211
Yeah, I was afraid someone was going to get upset that I even pointed out that process, though I tried to make it clear that wasn't my intention to upset anyone. In response to:

The answer is: "Not unless the maintainer does it, or someone else becomes the maintainer." I thought it might be useful to indicate that there is a path forward, in the case that the maintainer does not return.

I agree

[2019-07-08 22:45] mattphillips commented on #211
Hey thanks for the comments - sorry I forgot to publish this, I’ll get it done tomorrow and get this issue closed once and for all!

[2019-07-09 20:33] mattphillips commented on #211
Just published the fix to this in [`v0.11.2`](https://www.npmjs.com/package/jest-extended/v/0.11.2)

[2019-07-09 20:33] #211 closed

[2019-07-18 17:37] jadbox commented on #146
@mattphillips any update on toIncludePartial and toIncludePartialTimes? Looking at the docs today (it's been some time), I don't see any additions to aid this use-case. `toIncludeAnyMembers` isn't quite close enough as it cannot match partial objects within the collection.

[2019-08-20 12:48] digulla opened #224 "Expect with several tests at once"
I need to test several values at once in my tests. For example:

    expect(status).toBe(OK);
    expect(value).toBe(42); // What else?

The problem here is that when `status` isn't OK, the next check is never executed. Sometimes, this is OK but often, I need to compare all values "at the same time". As a workaround, I use this code:

[code]

because I can't use [test.each()](https://jestjs.io/doc

[2019-08-21 12:43] RobertFischer commented on #117
Anyone working on this? @thiagodp @mattphillips @CoreyKovalik ?  If not, my work (@K4connect) is giving me some time to get these in, since they'd be useful for us.

[2019-09-05 02:46] gustavosatheler opened #225 "Testing for type or null"
Add toBeObjectContainingOrNull matcher like:
[code]

Then you can use toBeObjectContainingOrNull as follows:

[code]

I see this in https://stackoverflow.com/a/51507754/7414646

[2019-09-05 09:43] blockscoped opened #226 "New Matcher: Array.toSatisfyAny"
**Feature Request**

New Matcher: Array.toSatisfyAny

`Array.toSatisfyAll` tests that **ALL** array element satisfies the predicate.
`Array.toSatisfyAny` should test that **ANY** array element satisfies the predicate.

[2019-09-07 20:58] blockscoped opened #228 "Feature request: New Matcher - Object.toBeEmptyObject"
**Feature Request**

Description:

Convenience method for checking that value is both an object and empty

Possible solution:

This can probably just use `Any.isEmpty` and `Object.isObject` under the hood.

[2019-09-09 00:50] hansal7014 commented on #117
Hi All,
I am new to open source development and would like to work on the 'toBeBetween' matcher. I can start working on this feature unless somebody is already working on it.
Thanks.

[2019-09-09 01:00] CoreyKovalik commented on #117
I'm not working on any of these currently, but I can share what pattern I've been using as a solution in production tests.

[code]

It's been working for me for testing side effects in integration tests for values such as `createdAt` and `updatedAt`

[2019-09-09 16:34] thiagodp commented on #117
Hi { @RobertFischer , @hansal7014 , @CoreyKovalik }, I'm not working on any of these either.

*Suggetion:* `toBeBetween(startDate, endDate)` could be defined as `toBeAfterOrEqualTo(startDate)` and `toBeBeforeOrEqualTo(endDate)`.

[2019-09-09 22:56] hansal7014 commented on #117
Hi @thiagodp @CoreyKovalik,

I'll start working on these matchers. Thanks for the suggestions.

[2019-09-11 13:43] JamesPeiris commented on #208
I've opened a PR against your repo @duailibe but I'd be more than happy to pick this up and get the matcher into this repo :)

[2019-09-25 17:52] maplion opened #230 "Property 'toStrictEqual' does not exist on type 'Matchers<any>'"
**Bug**

- `package` version: 0.11.2
- `node` version: 12.3.1
- `npm` version: 6.11.2
- `typescript` version: 3.5.3

Relevant code or config

[code]

What you did:
I am trying to run a test utilizing a jest-extended matcher function (i.e. toStrictEqual).

What happened (please provide anything you think will help):
I cannot get the compiler to recognize jest-extended matchers, no matter what I see

[2019-09-27 21:35] sebranly commented on #230
Are you sure `toStrictEqual` comes from `jest-extended`? I haven't taken a good look at it but seems to come from `jest` directly:
- https://jestjs.io/docs/en/expect#tostrictequalvalue

An issue was created: https://github.com/DefinitelyTyped/DefinitelyTyped/issues/36285

[2019-09-27 22:02] maplion commented on #230
@sebranly I will feel sheepish if that is the case, but none of my jest-extended matchers seem to work.  (I think) all of my Jest functions both give intellisense and are recognized by the compiler.

[2019-09-27 22:35] sebranly commented on #230
Update - I won't confirm it in https://github.com/DefinitelyTyped/DefinitelyTyped/issues/36285 until I get it working but actually I'm pretty confident the `24.0.18` package is updated enough to give typings for `toStrictEqual`. In my `node_modules/@types/jest/index.d.ts` file, I literally see:
[code]

[2019-09-27 22:36] sebranly commented on #230
I think you have two separate issues:
- `toStrict` (coming from `jest`), what I'm personally interested in
- other matchers (coming from `jest-extended`), which I don't use in my application

[2019-09-28 08:42] maplion commented on #230
@sebranly I see what you mean, but I can't even get it to show up in intellisense at all unless I do this at the top of my spec file:

[code]
That has "import 'jest-extended';" in it and that's when expect('blah').toStrictEqual and other matchers show up; otherwise they are not there and I just have the normal expect('blah').toBe, etc.  So I can get the typings in with the janky reference relative

[2019-10-05 17:10] kara-ryli opened #231 "Feature Request: .toMatchArray()"
I was looking for a shortcut to check if an Array exactly matches the contents including order (but was not necessarily strictly equal). The matcher would have test cases like this:

[code]

I ended up writing this myself but would be happy to contribute it if you'll accept it.

[2019-10-12 08:04] vatosarmat commented on #231
But the third `it` uses strict equality. Did you mean 'not necessarily deeply equal'?

[2019-10-16 12:26] Ry7n commented on #231
By not necessarily strictly equal, I mean the two arrays, rather than their contents. I basically want to be able to check if an array hold what I expected it to hold, including order.

[2019-10-17 02:52] hustcc commented on #126
`toBeApproximate` should be a nice assert for Number.

[2019-10-20 18:16] kareemkibue commented on #189
[code]

I was able to resolve a similar error by including the definition file `global.d.ts` reference [here](https://github.com/jest-community/jest-extended#typescript) in the `tsconfig.json` config file:

**tsconfig.json**
[code]

---

For reference: https://github.com/jest-community/jest-extended#typescript
**global.d.ts**
[code]

[2019-10-24 10:07] aakash-tatva opened #233 "p"

[2019-10-24 10:07] #233 closed

[2019-10-27 16:05] Shadowstep33 opened #234 "Incompatibility with newest @types/jest"
**Bug**
- `package` version: 0.11.2
- `node` version: 10.15.3
- `npm` (or `yarn`) version: 6.4.1

What you did: `npm i @types/jest@24.0.20` (latest)

What happened (please provide anything you think will help):

[code]

Reproduction repository (if possible):
run the following two commands:

[code]

Description:
The definitions of the Matchers interface are out of sync

Possible solution:
Fixing th

[2019-10-27 16:16] Shadowstep33 commented on #234
PR raised that should fix it here https://github.com/jest-community/jest-extended/pull/235

[2019-10-30 12:22] #126 closed

[2019-11-07 12:05] hasezoey opened #248 "Property 'toBeArray' does not exist on type JestMatchersShape"
**Bug**

- `package` version: 0.11.2
- `node` version: 12.13.0
- `npm` version: 6.13.0
- `ts-jest` version: 24.1.0
- `@types/jest` version: 24.0.22

Relevant code or config

jest config (package.json):
[code]

code:
[code]

What you did:
run `jest`

What happened:
compiler errored, because of mismatching types
[code]
(`Token` is a class)

but my editor (vscode) has the types fully available

Note:

[2019-11-07 12:07] hasezoey commented on #248
ok, fixed it with a `globals.d.ts` and `import "jest-extended"` - but i thought this is just to get intellisense in the editor - which i had already ...

[2019-11-09 17:37] ozimos opened #249 "Setup for Create React App using setupTests file"
**Feature Request**

Description:
Provide a way to setup jest-extended in a Create-React-App (CRA) project similar to [this method](https://github.com/testing-library/jest-dom#usage)  from React Testing Library. As of now, adding

`
import "jest-extended";
`
to the src/setupTests.js file does not work and CRA does not provide the option to manually configure the [setupFilesAfterEnv](https://jestjs

[2019-11-09 18:32] #249 closed

[2019-11-13 01:23] hansal7014 commented on #226
Hi @blockscoped,
I would like to work on this. Thanks.

[2019-11-15 21:22] scottbrassfield commented on #234
Hi, just wondering if there's any progress on getting this resolved. We want to add `jest-extended` to our project but will probably hold off until this is addressed, so we can keep up to date with jest types and not introduce workarounds. Thanks!

[2019-11-17 21:52] soullivaneuh opened #251 "Not working typescript import suggestion"
**Bug**

- `package` version: 0.11.2
- `node` version: v12.13.0
- `npm` (or `yarn`) version: 6.12.0

Relevant code or config

See steps.

What you did:

Following this guide: https://github.com/jest-community/jest-extended/issues/172

The `global.d.ts` file:

[code]

The `tsconfig.json` file:

[code]

The `jest.config.js` file (using ts-jest):

[code]

What happened (please provide anything you th

[2019-11-18 11:12] rafalpetryka commented on #251
You can import inside your test, without using global.d.ts

[2019-11-20 14:57] NonPolynomial commented on #234
Meanwhile I use this `global.d.ts` as a workaround...

[code]

[2019-11-21 10:33] Seally commented on #251
@soullivaneuh Shouldn't `jest.config.js` be:

[code]
?

It's there under [Setup](https://github.com/jest-community/jest-extended#setup) in the readme.

[2019-11-28 16:00] bogdan opened #253 "Expect a something to be change by amount"
**Feature Request**

Description:

In other testing tool, there was a matcher that expects some value to be changed by specified amount or from a value to a value. Usually a counter.

Here is an example: https://relishapp.com/rspec/rspec-expectations/docs/built-in-matchers/change-matcher#expect-change

I don't see a quick way to describe such behavior

Possible solution:

[code]

Expecting all of

[2019-12-06 16:49] hansal7014 commented on #228
Hi,
I would like to work on this issue. Thanks.

[2019-12-07 21:17] dhuang612 commented on #123
I would like to work on this

[2019-12-10 02:22] artoodeeto opened #256 "promise test not showing the correct information"
**Bug**

- `package` version:
[code]
- `node` version:` v12.13.1`

- `npm` (or `yarn`) version: `npm 6.12.1`

Relevant code or config

hello hello. 😄 🐛
[code]

What you did:
im not sure if its my editor or `jest-extended` but I added a `await` before the expect it will show me
 this on my editor ![Screen Shot 2019-12-09 at 6 10 05 PM](https://user-images.githubusercontent.com/19770382/70489019-58d

[2019-12-14 08:05] cdavid15 commented on #225
We use something similar for verifying properties which are optional. Would be good addition to the library.

[2019-12-29 02:18] hiwelo commented on #196
👍

Is there any update regarding this issue?
I would definitely push for the removal of the size requirement for the `toBeHexadecimal` matcher, especially because the current matcher is not even working with the "new" format of hexadecimal colors that can have up to 8 chars (when having alpha information for the color).

In this case, we could have:

- `toBeHexadecimal()` as a matcher for **any**

[2020-01-06 17:24] xenoterracide commented on #251
+1

uhm where exactly after setup?

Setup
Jest >v24
Add jest-extended to your Jest setupFilesAfterEnv configuration. See for help

"jest": {
  "setupFilesAfterEnv": ["jest-extended"]
}
Jest <v23
"jest": {
  "setupTestFrameworkScriptFile": "jest-extended"
}
If you are already using another test framework, like jest-chain, then you should create a test setup file and require each of the frameworks y

[2020-01-06 17:31] xenoterracide commented on #251
disabling diagnostics seems to work, albeit sketchy. however nothing suggested/tried seems to work in intellij

[2020-01-09 14:07] MikeMitterer commented on #234
Any news on this? Can't compile my package since 2 month because of this issue... Please publish a new version. Thanks

[2020-01-21 17:58] mattphillips commented on #234
Fixed released in https://www.npmjs.com/package/jest-extended/v/0.11.3

[2020-01-21 17:58] #234 closed

[2020-01-21 19:36] AlexeyKorkoza commented on #249
@ozimos your solution works. Thank you very much.

[2020-01-22 18:24] hgezim opened #263 "Proof-of-concept for advanced object matcher that can do exact match on props but ignore specifc props, transform, etc."
**Feature Request**
Description:
If found myself manipulating received objects by removing specific props that I didn't want to compare on, manipulating other props, wanting specific props not to be compared on order, etc.

For example, if we receive this object:
[code]

and it's being compared to (and we want them to match):
[code]

Possible solution:

A matcher with an API like this:

[code]

Th

[2020-01-24 16:11] kbradl16 opened #264 "Matchers error"
I get this error
`
node_modules/@types/jest/index.d.ts:730:15 - error TS2428: All declarations of 'Matchers' must have identical type parameters.

730     interface Matchers<R, T = {}> {
[code]
`
https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/jest/index.d.ts#L730

@types/jest": "^24.9.1",
"jest-extended": "^0.11.4",

[2020-01-25 19:55] kbradl16 commented on #264
https://github.com/DefinitelyTyped/DefinitelyTyped/issues/39982#issuecomment-578285534

[2020-01-27 10:15] mattphillips commented on #264
Fixed in: https://www.npmjs.com/package/jest-extended/v/0.11.5

I've remove `T` from our definition as it is not used and is defaulted in the global Jest types in DT

[2020-01-27 10:15] #264 closed

[2020-01-28 11:29] tonyhallett commented on #264
@mattphillips

Shouldn't you be using T for toContainEntry / toContainEntries / toContainAllEntries / toContainAnyEntries ?

[2020-01-29 16:22] avleyva opened #265 "Exception on unit test using useRef(), jest and enzyme"
Hi guys, I'm having an issue when testing a component that renders a couple text fields, an icon  and a chart. I'm rendering the chart on a <canvas> and for that I use the react hook `useRef` and all works beautiful, but my problem is when I try to render the component in my unit test. For that purpose I'm using jest and enzyme, so these are the files involved in this process:

**React Component**

[2020-01-29 17:21] avleyva commented on #265
Hi again, I'm sorry but I was finally able to crack this issue. I required support for the `<canvas>` in the test file and just importing `jest-canvas-mock` did the trick. Thanks anyway and hope it helps others.

[2020-01-29 17:21] #265 closed

[2020-02-15 14:09] overlookmotel opened #267 "toBeSymbol matcher"
**Feature Request**

Description:

It would be great to have a matcher to check if a variable is a Symbol.

Possible solution:

A `.toBeSymbol` matcher.

I actually implemented this and submitted PR #217 last year, but it seems to have flown under the radar.

[2020-02-19 13:32] plaa commented on #234
Note that the fix is *not* in `jest-extended@0.11.3` but instead in `@types/jest`.

[2020-02-20 22:19] overlookmotel commented on #256
`await expect(user.validateModel()).toReject();` is the correct thing to have in your test.

Then the test will pass if `user.validateModel()` promise rejects (which I think is what you want).

It's the "'await' has no effect" warning in your code editor which is incorrect.

I don't use Typescript, so I can't advise why that warning is appearing. But `jest-extended` is doing its job correctly.

[2020-02-20 22:32] overlookmotel commented on #231
`.toIncludeAllMembers()` does what you want, I think, except it accepts the same items in different order.

So maybe `.toIncludeAllMembersInOrder()` would be a good name for this?

[code]

That would throw an error like "Expected list to have all of the following members in order", rather than your implementation which will throw "expect(received).toBeTruthy()", which is less clear.

[2020-02-25 00:01] gasparsigma opened #269 "Mismatching interface for Matchers"
**Bug**

- `package` version: 0.11.5
- `node` version: irrelevant
- `npm` (or `yarn`) version: irrelevant

Relevant code or config

[code]

What you did:

Just install the application in a typescript app. The problem is a mismatching interface.
There was a PR to update the Matchers interface from Matchers<R, T> to Matchers<R>
https://github.com/jest-community/jest-extended/issues/234
But that's an

[2020-02-25 17:10] artoodeeto commented on #256
@overlookmotel thanks for this. My problem was is the jest vscode extension. giving me incorrect errors. thank you! will close this.

[2020-02-25 17:10] artoodeeto commented on #256
@overlookmotel thanks for this. My problem was is the jest vscode extension. giving me incorrect errors. thank you! will close this.

[2020-02-25 17:11] #256 closed

[2020-02-29 07:27] G-Rath opened #270 "Difference between jest-extended & jest-core toBeNaN matcher"
Jest already has a `toBeNaN` matcher, which I'm assuming was added after `jest-extended`s was.

Is there any reason to keep the one in `jest-extended` around?

[2020-02-29 16:53] artoodeeto commented on #189
@kareemkibue hello. Can you help me? mine doesn't work. I have a file `global.d.ts` I added it inside the `tsconfig.json` like what you did but I still get this error.

this is my `.eslintrc.js` file
[code]

[2020-03-04 12:30] MikeMitterer commented on #269
Since a month or so there is a permanent problem with this Matchers-definition. I don't get it why this interface is not part of jest-sources so that it can be used as a reference????

[2020-03-05 10:00] tobiaswaltl opened #271 "Promise matchers don't work correctly"
**Bug**

- `package` version: 0.11.5
- `node` version: 10.15.3
- `yarn` version: 1.17.3
- `jest` version: 25.1.0

Relevant code or config

[code]

What you did:
I've tried the matchers `toReject` and `toResolve` like above.
I would expect these assertions to fail.

What happened (please provide anything you think will help):
The assertions are passing.

Reproduction repository (if possible):

[2020-03-05 12:37] #271 closed

[2020-03-05 12:38] tobiaswaltl commented on #271
For reference:
It was my own mistake: I forgot the `await`...

[2020-03-07 12:50] RomainBitard opened #272 "add an expectAll feature"
## 🚀 Feature Proposal

As a developper I want my test to be able to fail on multiple expects so that I can debug/test faster
(I posted an issue on jest and copy pasted the same issue there based on a comment stating that it may have it's place here.

it's the same description but here it is :
https://github.com/facebook/jest/issues/9638)

## Example
It would work like the assertAll in Junit5
[code

[2020-03-17 18:04] DanielaValero opened #273 "ToBeEmpty matcher in jest-dom is also used in jest-extended"
### Describe the feature you'd like:
Jest-Extended has an assertion named the same as jest-extended's one:

-> https://github.com/jest-community/jest-extended#tobeempty
-> https://github.com/testing-library/jest-dom#tobeempty

When both libs are used in the same project, in my case the version of `jest-extended` overwrites the one from jest-dom. But this might vary depending on the order used to a

[2020-03-23 16:41] jorahood commented on #249
It still should be documented in the installation section

[2020-03-31 07:22] altano opened #275 "Can't get matcher to work"
I can't seem to get the `toHaveBeenCalledAfter` to work. It isn't defined. I think I'm just installing jest-extended incorrectly. Anyone have a clue?:

- `package` version: 0.11.5
- `node` version: 13.7.0
- `npm` (or `yarn`) version: Yarn 1.22.4
- `jest` version: 25.2.4

jest.config.js
[code]
Jest code:
[code]

Error:

[2020-03-31 07:48] altano commented on #275
Oh, I see, when you have a config option at the top level in a jest config with a `projects` array, that config option doesn't do anything. I had to change:

[code]

To:
[code]

[2020-03-31 07:48] #275 closed

[2020-04-02 12:11] abalhier commented on #251
I think you need to remove `"exclude": ["test"]`in your tsconfig.json, otherwise it won't compile your tests with this config and without including global.d.ts
You also may have to specify the tsConfig key in your jest config, like so :
[code]

[2020-04-02 17:41] ufo2mstar commented on #272
I feel this is a legit feature request for [jest](https://github.com/facebook/jest) !
Not so much for this `jest-extended` library, which aims to support matchers,
while this is more a core `jest` assertion bubbling modification request.

Having used this effectively and extensively in [Junit5 - assertAll](https://junit.org/junit5/docs/5.3.0/api/org/junit/jupiter/api/Assertions.html#assertAll(org.

[2020-04-06 19:38] garrett-gottlieb opened #276 "Flow error Cannot call expect(...).toHaveBeenCalledAfter"
**Bug**

- `package` version: ^0.11.5
- `node` version: v12.14.0
- `yarn` version: 1.19.1

Relevant code or config

[code]

What you did:
[code]

What happened (please provide anything you think will help):
[code]

[2020-04-10 20:26] rgibson518 commented on #253
This might be enough to get you started by extending `Expect` or for making a PR to this library.  We don't use this library, but I happened upon it while searching "jest rspec tochange matcher".   Forgive the typescript, perhaps its useful for anyone else who has stumbled here.

[code]

Obviously super simple, if you need/want async behavior or a `from => to` option syntax you'd have to add that.

[2020-04-13 08:13] #216 closed

[2020-04-14 19:58] rulrok opened #277 "What is the status of .pass and .fail?"
Hi,

I was looking into this project specifically because of these two methods.

As they should be the most trivial cases, since they don't do anything, I wonder why they are not actually implemented?

I tried using them just to be sure that I wasn't misinterpreting the `Note: Currently unimplemented` warning, but indeed trying to use it throws an exception saying the method does not exist.

Actua

[2020-04-16 13:27] rulrok commented on #277
So I guess this is the status...
https://github.com/jest-community/jest-extended/pull/204

[2020-04-21 11:25] silverwind opened #278 "toBeInteger matcher"
## Feature Request

#### Description:

Proposing `toBeInteger` as a more specific alternative to the `toBeNumber` matcher.

#### Possible solution:

Implement it using [Number.isInteger](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number/isInteger).

[2020-04-23 14:09] williamrchr commented on #277
Hi there, yes it seems like this library has lost its maintainer. Until a new maintainer has been made, I would recommend using my forked version with pass/fail, but if this package gets readopted you may lose out on those new changes

[2020-04-25 12:28] rishabh09 commented on #141
@lonix1 will it includes the file in bundle?

[2020-04-26 03:04] lonix1 commented on #141
@rishabh09 I can't remember, but I think so. Try it, it's quick to do.

[2020-04-30 15:31] StephanBijzitter opened #280 "Allow importing without global.expect"
**Feature Request**

Description:
I am using a custom framework to run tests and this framework exposes `expect` as part of a callback function, rather than having it available globally. Currently, I cannot import `jest-extended` as it just doesn't do anything. I could change the import to `jest-extended/matchers`, but that is prone to break if you decide to move them into a different directory.

[2020-05-04 14:05] thernstig opened #281 "Remove matchers already existing in Jest 25?"
This is more of a discussion than a bug or feature request.

I noticed that jest-extended contains some matchers that already exist in the latest Jest. Example:
`toContainKey` === `toHaveProperty`

Would there be an idea to remove these matchers? It is confusing for developers of a project the more matchers there exist, due to recognizability.

Or did I misunderstand `toContainKey` vs `toHavePrope

[2020-05-06 13:23] matthias-pichler-warrify opened #282 "Update typescript setup docs after breaking change in ts-jest 25.5.0"
In ts-jest `25.5.0` there was a [breaking change](https://github.com/kulshekhar/ts-jest/blob/master/CHANGELOG.md#breaking-changes) that now requires to list any additional typings in the `files` property of the `tsconfig.json`. The docs should be updated accordingly.

[2020-05-08 17:12] qqilihq commented on #282
Thanks for that, this solved my issue!

fyi: I’ve seen that the link in your description misses the URL: https://github.com/kulshekhar/ts-jest/blob/master/CHANGELOG.md#2550-2020-05-05

[2020-05-27 09:35] brelian opened #284 "Request to add new matcher - toEqualIgnoreArrayItemsOrder"
**Feature Request**
Add a matcher something like naming `toEqualIgnoreArrayItemsOrder` which we can ignore the order of array items when we compare them.
**Description**:
Unlike [toIncludesSameMembers](https://github.com/jest-community/jest-extended#toincludesamemembersmembers), this function compares objects. If a property of two objects is an array, we can ignore the order of the elements in the

[2020-06-01 23:09] SaadEla opened #285 "how we can access a component fucntion in jest test ?"

[2020-06-03 15:04] kschat opened #286 "Add matcher to assert object matches snapshot shape"
**Feature Request**

Description:

We have a need on my project to verify that an object matches the general shape of a shapshot. We don't care about any of the property values - just that they're the correct type.

Effectively we are looking for a matcher that given this:

[code]

would create a shapshot like this:

[code]

Is this something `jest-extended` is interested in adding? If so, I'd be

[2020-06-04 09:25] Vadorequest commented on #286
I just discovered jest-to-match-shape-of today and was wondering the same thing, would love to see this integrated within jest-extended!

[2020-06-04 22:22] jjcv2304 commented on #230
Any updates on this? I'm using "ts-jest": "^26.1.0", and also having same issue

[2020-07-13 10:07] benjaminkay93 commented on #205
any word on this @mattphillips ?

[2020-07-14 15:02] jacekkk commented on #172
Only works if you don't have `node_modules` in `excluded` which you should have, so not really a solution.

[2020-07-21 20:00] yairopro opened #290 "Feature: expect(() => ...).toConsoleError((...logs) => bool)"
## Feature Request

### Description:

**The case:**
I've got a function (named `parallel`) which runs a list of functions one by one. If one of them crashes, `parallel` will catch and log the error in the console's error channel. This is to prevent other functions in the list to be blocked because of the crash from on of them.

[code]

**The need:**
I need to be able to catch the message from the

[2020-08-08 12:31] svsool opened #291 "TypeError: string.endsWith is not a function"
**Bug**

- `package` version: 0.11.5
- `node` version: v14.4.0
- `yarn` version: 1.22.4

Relevant code or config

[code]

What you did:

Ran that test and it failed.

What happened (please provide anything you think will help):

I added console.log to `node_modules/jest-extended/dist/matchers/toEndWith/predicate.js` and this is the output:

[code]

I can see the last call receives object instead o

[2020-08-14 07:51] fider commented on #230
@jjcv2304

I just added `global` to jest config in package.json

[code]
  "jest": {
    "preset": "ts-jest",
    "testEnvironment": "node",
    "setupFilesAfterEnv": [
      "jest-extended",
      "./tests/tests-setup.ts" // includes import 'jest-extended'
    ],
    "globals": { // this did the job
      "ts-jest": {
        "tsConfig": "tsconfig.json"
      }
    },
    ...
[code]

[2020-08-17 21:05] known-as-bmf commented on #172
My solution was:

`package.json`

[code]

`tsconfig.json`

[code]

[2020-10-30 15:47] bogdanb opened #297 "toInclude*Members should be declared with readonly arguments"
**Bug**

- `jest-extended` version: 0.11.5
- `node` version: 14.7.0
- `npm` (or `yarn`) version: 6.14.8

Relevant code or config

[code]

What you did: Running code like the above (this is much simplified) leads to TypeScript complaining with an error like this:

[code]

What happened (please provide anything you think will help):

The issue is that all the matchers are declared like this:

[code]

[2020-11-03 21:54] imjordanxd commented on #219
Also facing this issue. Any workarounds for it?

[2020-11-10 09:36] bogdanb opened #299 "toInclude*Members should work with any Iterable"
**Feature Request**

Description:

The toInclude*Members matchers currently only work on arrays. They should work with any Iterable, to allow easy checking of things like Sets and Maps.

Possible solution:

See https://github.com/jest-community/jest-extended/pull/298

[2020-11-11 13:57] xenoterracide commented on #280
jest now provides `@jest/globals` but it doesn't work with `jest-extended`; I presume that `jest-extended` could build on top of this.

[2021-01-02 15:02] tony commented on #230
#189

Does anyone here have `@types/jasmine` in their package.json / or lockfiles?

I have a monorepo and this came up for me and it happened around the time I tried to satisfy a dependency with angular (which uses jasmine by default it appears).

[2021-01-02 15:21] tony commented on #230
If you have any other type declaration file that's competing against jasmine's, even if it's an implicit dependency, please check for it. Use your lockfiles, clear your node_modules and reinstall, etc.

Potentially related: https://github.com/nestjs/nest/issues/4223

If you're on a monorepo or have shared packages some how, be on the look out for type packages that also use `expect()` fighting wit

[2021-01-10 18:36] alexkendall commented on #171
I'm having a similar issue.

[2021-01-21 19:07] bodinsamuel commented on #225
+1 on this

[2021-02-08 03:39] bofeiw opened #306 "Array of strings: .toIncludeIgnoreCase(str)"
**Feature Request**

Description: some of my test cases need to check if an array of strings includes a certain string, but ignores case.

Possible solution: I have written my own custom matcher. Just checking if it's a good idea to add it here.

[2021-02-21 03:10] #128 closed

[2021-02-23 16:13] hungdao-testing opened #307 "Vscode only recognize matcher once opening global.d.ts"
**Bug**

- `package` version:
[code]

- `node` version: v15.5.0
- `npm` (or `yarn`) version:  npm: 7.3.0

Relevant code or config

[code]

Pre-condition:
- Install Vscode
[code]

- Create a project with structure
-jest-axios
---configs
---tests
-----babel.config.js
-----global.d.ts
-----jest.config.js

What you did:
1. enter the line in global.d.ts: `import 'jest-extended';`
2. create a spec file

[2021-02-23 20:25] Bazze commented on #307
I think this should resolve your issue: https://github.com/jest-community/jest-extended/issues/282

To your `tsconfig.json`, add:

[code]

[2021-02-24 11:13] hungdao-testing commented on #307
The problem is fixed, I thought maybe I didn't create tsconfig.json in my project.
After created this file, and added few basic options. This issue is gone.

[code]
One note that, currently I removed babel out of the project

[2021-02-24 21:00] makitocode commented on #225
Meanwhile, you can do this:

`image: expect.objectContaining({
        type: "Buffer",
        data: expect.any(Array)
    }) || null,`

[2021-03-24 00:56] markotom opened #308 "new matcher for classes: expect.toBeClass"
**Feature Request**

Description: New matcher for classes

Possible solution:
[code]

[2021-03-28 20:56] mimshwright opened #309 "Expect to be within X% of..."
**Feature Request**

Description:

I wonder if there's any interest in something like:

`expect(value).toBeWithinPercent(x, expected);`

or

`expect(value).toBeWithin(x).percentOf(expected);`

It would check if the expected value was within the range of expected value ± x%. This is similar to `expect.toBeCloseTo` but allow you to set the acceptance threshold.

Possible solution:
e.g.
[code]

The m

[2021-04-01 09:59] bhawanaprasain opened #311 "Matcher for testing if an array is sorted or not"
**Feature Request**

**Description:**
Currently, I don't seem to find a matcher for testing if an array is sorted or not.Sometimes we need to test if an array obtained from some process is sorted or not, either ascending or descending.

**Example:**
Suppose we have an array : _arr = [1,3,2,5,4]_
Then this new feature would work something like:

`expect(arr).toBeInAscendingOrder()`

In this case it

[2021-04-05 18:29] bamapookie commented on #248
Is there any progress on this investigation?  We ran into this all of a sudden, and can't explain why it just decided to stop working.

[2021-04-08 15:48] bamapookie commented on #248
I have found that having the import in any test file just once alleviates the problem.  It doesn't need to be in a global file.  And that file does not need to be added to the tsconfig.json files section.

[2021-04-21 14:34] fiznool opened #314 "Status of project?"
Just wondering on the status of the project?

There hasn't been a new release for over a year, yet there are over 330k downloads per week on npm.

[2021-04-22 02:15] ronsub commented on #265
could you share an example of the implementation?

[2021-04-27 08:36] GerkinDev commented on #219
This issue was solved in #315. You can install this fork via

[code]

[2021-04-30 02:10] iBlueDust opened #316 "Feature: Array matchers support iterables"
**Feature Request**

Description: Allow array matchers to accept iterables instead of just arrays.

- `expect(iterable).toBeArray()`
- `expect(iterable).toBeArrayOfSize()`
- `expect(iterable).toIncludeAllMembers([members])`
- `expect(iterable).toIncludeAnyMembers([members])`
- `expect(iterable).toIncludeSameMembers([members])`
- `expect(iterable).toSatisfyAll(predicate)`

Right now, Jest just thro

[2021-05-06 20:01] chrisvoo opened #317 "Methods for testing files"
**Feature Request**

Description: some methods for testing files (existence, size, mime type, etc)

Possible solution:
[code]

[2021-05-07 09:03] silverwind commented on #314
Seems there are no active maintainers, straightforward PRs like https://github.com/jest-community/jest-extended/pull/279 are not getting merged either. I guess some new maintainers should be appointed.

[2021-05-08 20:54] H0JLuk commented on #225
+1 on this

[2021-05-17 10:10] silverwind opened #321 "Deprectated dependencies `resolve-url`, `urix`"
Below indirect dependencies are deprecated and cause warnings when installing `jest-extended`:

[code]

[2021-05-27 13:53] rluvaton opened #322 "Output rejected value / resolved value when marcher failed"
When using `.toResolve` or `.toReject` and the promise doesn't settle as we expected we see the error:

(This error is not the exact error that outputted but it goes something like that)

But when a promise resolved/rejected when it shouldn't it would be helpful to output the promise result so we can now why it rejected/resolved

So maybe the new error message will be something like:

I can create

[2021-06-09 20:16] johncrim commented on #172
I ran into the same issue - I'm pretty sure that both the current instructions are wrong, and a new bug is needed to fix typing imports so the matchers are recognized by editors eg VS Code.

To be clear, current the README instructions DO work for compiling and running tests, but I have not been successful after an hour+ of trial and error in getting VS Code to integrate the typings. I've tried ev

[2021-06-11 14:32] danilofuchs commented on #314
Have anyone found an viable alternative or forked this one?

[2021-06-11 18:10] keeganwitt commented on #314
Lemme see if I can get in contact with one of the current maintainers and see if we can figure something out. If I don't succeed, I guess I'll take a stab at a fork.

[2021-06-11 18:33] danilofuchs commented on #314
It does look like https://github.com/JamieMason/expect-more/tree/master/packages/expect-more-jest/ is being actively maintained.

It was recommended by jest-community themselves though: https://github.com/jest-community/awesome-jest#matchers

[2021-06-11 18:58] keeganwitt commented on #314
Interesting, I hadn't heard of that one. It has a lot fewer matchers though (48 vs jest-extended's 114).

[2021-06-11 23:56] keeganwitt commented on #314
I've also started cloning things over to my fork, in case we're not able to get a response from anyone: https://github.com/keeganwitt/jest-extended.

[2021-06-12 00:18] keeganwitt commented on #314
Related issue: #205.

[2021-06-22 02:13] keeganwitt commented on #278
There's a PR for this: #279

[2021-06-22 02:23] keeganwitt commented on #281
They don't use the same mechanism, but they seem to be able to provide the same functionality.

This would require bumping up the minimum required version of Jest before that'd be possible though.

[2021-07-19 00:14] Imran99 commented on #291
Did you ever get to the bottom of this, I see something similar when I have a failing test asserting an array, in my case I see `TypeError: result.message is not a function`. This appears to only happen when using jest extended matchers.

[2021-07-21 05:20] Imran99 commented on #291
For me it ended up being an issue with jest-chain https://github.com/mattphillips/jest-chain/issues/22

[2021-08-02 13:32] maksnester opened #337 "Add `toBeCalledOnceWith` matcher for jest mocks"
**Feature Request**

Hi, it would be great to see `.toBeCalledOnceWith` custom matcher for jest mocks in this repo.

Usage:

[code]

Are there any objectives against having that one?

[2021-08-16 14:48] moaxcp opened #338 "Add toBeInteger"
**Feature Request**

Description: Add `toBeInteger`

I am testing an in-house RandomUtil that has a method to return a random int within a range. I think it would be nice to have an assertion for integers. It looks like [Number](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number) has several methods. jest doesn't seem to support the integer option.

Possible so

[2021-08-28 02:00] DanKaplanSES commented on #307
Isn't this a better solution to a global.d.ts file:

[code]

[2021-09-01 00:14] JamieMason commented on #117
Hi @thiagodp,
A newer typescript version of [Jasmine Matchers](https://github.com/JamieMason/Jasmine-Matchers) is at [expect-more-jasmine](https://github.com/JamieMason/expect-more/tree/master/packages/expect-more-jasmine/) and there is also a version for Jest is at [expect-more-jest](https://github.com/JamieMason/expect-more/tree/master/packages/expect-more-jest/). Some of the date matchers discu

[2021-09-29 08:21] jjtang1985 opened #342 "Vulnerability detected: `set-value`"
### Description
There is a vulnerable lib `set-value: 2.0.0` with [high severity](https://github.com/advisories/GHSA-4g88-fppr-53pp), which is used by as transitive dependency of `jest-extended`.

The dependency tree is:
[code]

### Potential fix

As the transitive dependency is deep, I would update the version of `expect` and expect it's gone.

[2021-10-04 14:17] kayahr commented on #342
Would be fixed by #344 which updates all dependencies

[2021-10-06 08:59] renovate[bot] opened #348 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/jest-community/jest-extended).

## Config Migration Needed

 - [ ]  Select this checkbox to let Renovate create an automated Config Migration PR.

#

[2021-10-06 11:31] #228 closed

[2021-10-06 12:15] #226 closed

[2021-10-07 06:10] siraj-samsudeen opened #361 "error when using toBeDateString function"
**Bug**

- `package` version:jest-extended@0.11.5
- `node` version:v16.3.0
- `npm` (or `yarn`) version:7.18.1

Relevant code or config

[code]

What you did:
I just ran this code
What happened (please provide anything you think will help):
got an error that `TypeError: expect(...).toBeDateString is not a function`.
But if I run this code, it succeeds

[code]
Reproduction repository (if possible):

[2021-10-08 12:08] akphi commented on #342
@SimenB thank you! when do you think we could release this?

[2021-10-11 07:42] #282 closed

[2021-10-11 08:49] #117 closed

[2021-10-11 22:24] SimenB commented on #342
https://github.com/jest-community/jest-extended/releases/tag/v1.0.0

[2021-10-13 10:32] ilyub opened #367 "Typescript error when importing jest-extended"
**Bug**

jest-extended version: 1.0.0

.ts file:
[code]

I get error:
File '.../node_modules/jest-extended/types/index.d.ts' is not a module.

Also, after upgrading to 1.0.0 unassigned import does not work any more:
[code]

So:
Unassigned import stoped working in version 1.0.0
And wildcard import does not work in typescript because of invalid .d.ts file.

[2021-10-14 08:25] abc-moviestarplanet commented on #367
I have the same issue too. My tests used to run fine when doing:
[code]

But after updating to v1.0.0, every function I used gives me the error such as:
[code]

I tried the full typescript setup as documented (using global.d.ts, include), but did not help.

[2021-10-18 09:41] revmischa commented on #367
I tried every option here and on the TS setup in the docs with v1.0.0 and I also get `foo.test.ts:95:20 - error TS2339: Property 'toIncludeAllPartialMembers' does not exist on type 'JestMatchers...`

[2021-10-18 11:36] idan-at commented on #367
[here ](https://github.com/jest-community/jest-extended/pull/370) is a fix for that specific missing type

[2021-10-18 12:04] #361 closed, assigned to nobody

[2021-10-19 14:51] robross0606 opened #371 "1.x broken with latest Jest and Jasmine runner"
**Bug**

- `package` version: 1.1.0
- `node` version: 14.18.1
- `npm` (or `yarn`) version: 6.14.12
- `jest` version: 27.2.5

Relevant code or config

Use Jest v27 with Jasmine test runner configured in package.json:
[code]

What happened (please provide anything you think will help):

Results in errors on every test:
[code]

[2021-10-19 16:48] MNF opened #372 "implement .toIncludeCaseInsensitive"
**Feature Request**

Description:implement .toIncludeCaseInsensitive

Possible solution:
a combination  of .toInclude(substring) and .toEqualCaseInsensitive(string)

[2021-10-20 10:40] SimenB commented on #371
Fixed in Jest yesterday: https://github.com/facebook/jest/pull/11978. 27.3.1 has the fix 🙂

[2021-10-20 10:40] #371 closed

[2021-10-27 01:36] binarykitchen opened #373 "Has .toStartWith() disappeared?"
After bumping from v0.11.5 to v1.1.0 the `toStartWith` fn seem to have disappeared but this breaking change isn't mentioned in the changelogs huh?

[2021-10-28 08:19] idan-at opened #374 "Feature Request: toPartiallyContain"
**Feature Request: .toPartiallyContain()**

**Description:**
Checks whether an object is partially contained in a given array.

**Usage example:**
[code]

The example above is shallow, I know. but I think the use case is pretty common - when we have an item, but we don't know / don't want to list all of its properties.

At the moment, jest supports this by using `expect([object]).toEqual(expect.ob

[2021-10-29 14:56] robross0606 opened #377 "Spy expectation for thrown error"
**Feature Request**

Description:

Jest has "spy" expectations for a variety of interface contracts:

- arguments: `expect(spy).toHaveBeenCalledWith()`
- return values: `expect(spy).toHaveReturned()`
- call counts: `expect(spy).toHaveBeenCalled()`

However, it has no expectations for checking if a spied function threw an error.

Possible solution:

- `expect(spy).toHaveThrown()`
- `expect(spy).toH

[2021-10-29 22:43] replete commented on #367
![Screen Shot 2021-10-29 at 23 22 49](https://user-images.githubusercontent.com/812139/139508105-392e8e42-4d5c-43ff-8df9-93c005674e79.png)

My workaround for this is as follows:
#### in `setupTests.ts`
[code]
#### In my tests that use a `jest-extended` matcher:
[code]

I'm hoping that this gets fixed in this awesome-looking library in the next version, shouldn't be too difficult

[2021-10-31 15:40] codejedi365 commented on #367
I found a better solution for Typescript detection of types and project organization and integration with `ts-jest`.  First, I do not recommend adding the `jest-extended` types reference to `globals.d.ts` with the rest of your project.  This does not separate your tests from your source code and if you emit declaration files or other compiled files, it might include `jest` types.  Additionally, if

[2021-11-01 00:49] replete commented on #367
Thanks for the fine recommendation and explanation, @codejedi365. Sounds like you could easily fix the root issue in this relatively new project. I'm still quite new to TypeScript, so using `// @ts-ignore` was a quick fix, and one that assumes that soon the root cause would be fixed anyway.

Cheers

[2021-11-01 01:22] codejedi365 commented on #367
not a problem, @replete, thanks for the compliment. My apologies as it seems I came "off the top rope" on your comment. I was trying to make a point for all others in the channel but I don't think it came off that way as I re-read.  My apologies.

Yes, `@ts-ignore` is a quick fix when you don't know what to do and it's easy to feel that way when jumping into Typescript.  I remember it was about a

[2021-11-01 02:36] replete commented on #367
Using this now, I get intellisense in vscode, and my tests don't need `// @ts-ignore`

### setupTests.ts
[code]

### existing ./tsconfig.json
[code]

[2021-11-06 19:11] replete commented on #367
@ilyub Does the solution in [comment above](#issuecomment-955876805) solve your problem?

[2021-11-06 19:18] replete commented on #367
@mattphillips I'm not super familiar with this library, or jest, but it seems to me like adding [this](#issuecomment-955876805) to the `README.md` somewhere would be useful for people running Typescript projects.

Unless this is only happening because of a bug? I am fairly new to typescript. If I knew it made sense I'd have just made a quick PR to update the README.

[2021-11-06 20:33] ziacik opened #379 "Why toHaveBeenCalledAfter does not check that the mock has been called?"
Hi. I would expect that a test like this exists for `toHaveBeenCalledAfter`:
Fail if the mock under test has not been called at all.

[code]

It is rather surprising for me that "toHaveBeenCalledAfter" does not imply "toHaveBeenCalled".

With current behavior, I'm forced to write this:
[code]

[2021-11-09 13:30] charliematters commented on #373
Seconded - it doesn't look like it's missing in the code, but jest is saying that it's not a function

[2021-11-09 20:39] C0ZEN commented on #373
I have the same issue with `toBeFalse` and `toBeFunction`.

[2021-11-10 10:21] AudunWA opened #381 "Wrong TypeScript typing for toBeDateString (and possibly toBeHexadecimal)"
**Bug**

- `package` version: 1.1.0
- `node` version: v14.17.0
- `npm` (or `yarn`) version: npm 7.24.1

The type for `toBeDateString` expects a string argument; see the example below:
[code]

I suspect this issue might affect `toBeHexadecimal` as well.

[2021-11-10 11:09] SimenB commented on #381
PR welcome 🙂

[2021-11-12 22:55] codejedi365 commented on #367
@deuscapturus can you provide more details? Post a link to a Gist that you upload the relevant files, and I'll take a look. Based on your error message it looks like you are importing types directly and that is likely going to have issues.

In the meantime, I recommend reviewing my post above with the Gist link.

[2021-11-13 23:11] dharkness commented on #381
Sorry for the churn. I accidentally pushed changes for a new PR to the branch. I deleted the PR and branch and started over.

[2021-11-13 23:20] dharkness commented on #373
These work for me with v1.1.0:

[code]

Here's my `yarn.lock` entry for it:

[code]

[2021-11-13 23:48] dharkness opened #385 "Define matchers on InverseAsymmetricMatchers for expect.not"
The matchers are not visible in auto-completion when used with `expect.not`. They _work,_ but WebStorm reports them as a problem.

[code]

The simplest way to expose them is by declaring the asymmetric forms in a new interface, `AsymmetricMatchers`, and having both `Expect` and `InverseAsymmetricMatchers` extend it. However, this may cause issues with TypeScript projects. In that case, I think we'

[2021-11-15 01:06] merrywhether commented on #367
This was my fix:
[code]
// jest.config.js
  ...
  setupFilesAfterEnv: ['./setupTestsAfterEnv.ts'],
  ...
[code]

Importing `jest-extended` is all TS needs to get it to register the types, and you only have to import it once in your project. This does not however cause anything JS-related to actually happen, and you can't really work with the exports of `jest-extended` because they aren't in the ty

[2021-11-16 04:19] codejedi365 commented on #367
@merrywhether, how are you compiling your distribution code?

I don't recommend adding your setup.ts file to `tsconfig.json[include]` because if you set the outdir, for tsconfig, it will include that file into your distribution. Unless you are using webpack or another bundler that uses your entrypoint for workflow. A distribution that has your setup ts file that isn't directly referenced isn't val

[2021-11-16 04:44] merrywhether commented on #367
Good callout on the distribution config, as ours is not standard:
- `tsconfig.json` for dev work like type-checking tests/etc and integrating with IDEs (via default file-naming convention)
- `tsconfig.build.json` which extends `tsconfig.json` but excludes tests/etc

We also use babel for actual compilation (beyond type generation), so there's a lot of custom stuff going on that I should've specifi

[2021-11-17 11:56] mikemaccana commented on #172
@johncrim @andersr what should the top of a TS file that uses matchers from jest-extended look like? I have tried

[code]

But this still fails with

[code]

[2021-11-18 01:40] overlookmotel commented on #373
I had same problem. Seems API has changed in v1.x.

Previously: `setupFilesAfterEnv: [ 'jest-extended' ]`

Now: `setupFilesAfterEnv: [ 'jest-extended/all' ]`

This is noted [in README](https://github.com/jest-community/jest-extended#setup).

[2021-11-29 12:05] #381 closed

[2021-11-29 12:06] #374 closed

[2021-11-29 12:09] SimenB commented on #373
Yeah, we don't extend just by importing anymore 🙂

[2021-11-29 12:09] #373 closed

[2021-11-29 12:20] SimenB commented on #379
Seems like something we should do yeah. PR welcome! 😀

[2021-12-17 23:23] urkle commented on #253
Here is a more advanced version that supports any change, not change or to changes.

[code]

[2021-12-28 17:47] npwork commented on #172
In my case worked to add to jest.setup.ts

[code]

[2022-01-12 13:47] julienw opened #399 "Please upgrade the `expect` dependency to be in sync with other jest dependencies"
I noticed that as a result of the current dependences, different versions of some packages are installed, most notably `jest-matcher-utils` and its dependencies. This is due to the fact that `jest-extended` depends on expect v26 but on other jest packages v27.

[2022-01-12 15:46] SimenB commented on #399
See https://github.com/jest-community/jest-extended/pull/358#issuecomment-936005205

[2022-01-23 15:02] igorwessel commented on #367
A solution to this problem would be to move the type part to the DefinitelyTyped repo.
This would eliminate the problem of having to import twice, once for the types and once to register the matchers.

I can create a pull-request to add the types to DefinitelyTyped repo.

[2022-01-24 17:56] igorwessel commented on #367
Hi guys!

To resolve the issue of being able to do the named import even though it doesn't cause a runtime issue, the problem is in declaration file don't have named exports for jest-extended module.
[types/index.d.ts](https://github.com/jest-community/jest-extended/blob/9cc3b9148c45d8f0143ea0c77a4cf30002f2fb6b/types/index.d.ts)

We can resolve adding each matcher to a module and exports.

[code]

[2022-01-26 10:04] igorwessel commented on #367
I managed to make the typings for the typescript work when we only use some matchers.
First I separated the declaration from two matchers and add in own folder of respective matcher.
[code]
moved to src/matchers/pass/index.d.ts:
[code]

And use in setup.ts
[code]

With this we can import only the declaration of this specific file, without importing everything else.

I believe that it is currently

[2022-01-26 10:23] mikicho opened #406 "Typescript type errors"
**Bug**

- `package` version: 27.4.7
- `jest` version: 1.2.0
- `typescript` version: 4.5.5
- `node` version: v16.13.0
- `npm` (or `yarn`) version: 8.1.0

Reproduce repo:
1. Clone repo: https://github.com/mikicho/reproduce-jest-extended-types
2. `npm i`
3. run `npx tsc`

What happened (please provide anything you think will help):
[code]

Reproduction repository (if possible):
https://github.com/mi

[2022-01-26 10:44] mikicho commented on #406
type :face palm:

[2022-01-26 10:44] #406 closed

[2022-01-26 11:55] mattphillips commented on #367
Hey all I've just opened #407 with an example project that demos how to setup `jest-extended` globally with Typescript.

Please let me know if this resolves the issues.

_Note:_ From what I can tell there is a separate issue / confusion around manually importing the matchers and the types lining up. I think it may be worth separating this into a different issue.

[2022-01-26 12:12] igorwessel commented on #367
Can I create this issue regarding this issue? or did some maintainer move this part to a new issue?

[2022-01-26 13:01] mattphillips commented on #367
@igorwessel go for it 👍

[2022-01-26 14:11] igorwessel opened #408 "Typescript error when manually import the matchers"
Bug

**jest-extended version: 1.2.0**

# Problem

Currently jest-extended types don't export any of the matchers, so it ends up causing an error with the typescript.
![Captura de tela de 2022-01-26 10-40-31](https://user-images.githubusercontent.com/54173994/151173302-2c06800f-2918-4308-af02-2e2064fefbb1.png)

We managed to solve this by declaring a module in the types
[code]

But doing it this wa

[2022-01-28 10:39] igorwessel commented on #408
I managed to make the manual import work with the correct types.

I separated the matcher declaration as above and added the declarations for the typescript to start understanding exports

1. In src/matchers/index.d.ts
[code]
2. In src/index.d.ts
[code]
3. I created the file to extend the matcher
[code]

4. In tsconfig only added the matcher declaration that I extended
[code]

[2022-01-28 11:34] #367 closed

[2022-01-29 09:17] igorwessel commented on #408
Another problem that I forgot to mention is that if you separate the types every time you add a new matcher, you would have to update the file ***src/matchers/index.d.ts***.
We can fix this if we transform the lib into typescript and let it typescript issue the declarations, then each matcher.ts would have something like:
[code]

This matcher toBeArray transformed into typescript, brings this outp

[2022-02-09 23:02] Pacheco95 opened #413 "calledWithTimes matcher"
### 🚀 Feature request

Implement a `calledTimesWith` matcher to match how many times a function was called with a given argument (or set of arguments).

### Motivation

Today it is possible to achieve this funcionality through `spy.mock.calls` but it is too hard/boring to implement this for many different cases. Also not mention that we should also test the testing logic to be sure it is doing wha

[2022-02-15 00:49] davidlav commented on #408
I have a minimal setup with no Jest config file and only one file of tests, and&mdash;going off the link from the comment above&mdash;I was able to get it running today by only:

1) `npm i -D jest-extended` (v2.0.0)
1) Adding the line `"setupFilesAfterEnv": ["jest-extended/all"]` to the `jest` object in my `package.json`
1) Adding the line `import 'jest-extended';` to the top of my `tests.ts` file

[2022-02-15 06:49] igorwessel commented on #408
I believe you are confusing the problem, what I'm saying is that have problems importing a matcher instead of importing them all.

[2022-02-15 12:11] davidlav commented on #408
Yeah, apologies.  I had been beating my head against my desk for so long just to get this library to work with TypeScript, period, that I wanted to leave some help anyone else that found their way here, and that comment above mine pointed me in a helpful direction.  But you're right, you've got a more specific problem.

[2022-02-15 13:53] Haroenv commented on #372
Just in case it's not clear how that can be done today: `.toEqual(expect.stringMatching(/thesubstring/i))`

[2022-02-23 09:41] javier-garcia-meteologica opened #416 "Date comparators don't work with strings"
The following is an example from the README documentation

https://github.com/jest-community/jest-extended/blob/d8bd6ad4aa6df90c59026ae8344bd4b35b1abb0c/README.md?plain=1#L466-L469

In this example a date string is compared against a date. This is understandably useful because both datestrings and Dates are commonly used interchangeably.

The problem is that it doesn't work as intended, the `.toBe

[2022-03-02 14:18] theryansmee commented on #379
Hi @SimenB, please assign this to me 😊

[2022-03-02 15:56] JeanCParis commented on #272
This feature is badly needed :'(

[2022-03-13 21:26] nlwillia opened #425 "Matcher extensions missing when jest is run with detect open handles option"
**Bug**

- `package` version: 2.0.0
- `node` version: 16.13.0
- `npm` (or `yarn`) version: 8.1.0

I have a project using `jest`, `ts-jest` and `jest-extended`.  One of my test.ts files uses a matcher extension (`toStartWith`).  When I run jest normally, the test succeeds.  But if I add the [--detectOpenHandles](https://jestjs.io/docs/cli#--detectopenhandles) option, the test fails with an error sa

[2022-03-15 04:26] #379 closed

[2022-03-16 19:12] theryansmee commented on #138
@SimenB - I'll take a look at `toHaveBeenCalledOnceWith` 😊

[2022-03-17 17:44] metasean opened #428 "Cannot get `pass` and `fail` to work as expected"
This is probably some silly typo on my part, but I've run out of debugging ideas, and I'm consistently getting the same errors, regardless of what I try.

# Bug

- `package` version: 2.0.0
- `node` version: 14.19.0 (and 14.18.1 on my local version)
- `npm` (or `yarn`) version: 7.17.0 (and 8.1.4 on my local version)

### Relevant code or config

[https://stackblitz.com/edit/node-gu67f1?file=test%2F

[2022-03-19 20:08] keeganwitt commented on #428
For posterity, the example is
[code]
which has this result
[code]

I don't understand the question. I would expect any test that had `fail()` in the assertions to fail.

[2022-03-19 20:11] keeganwitt commented on #314
I think the project is in a better place now and we can close this issue.

[2022-03-19 20:11] #314 closed

[2022-03-19 20:12] keeganwitt commented on #123
Node 6 is no longer a relevant target, so we can close this issue. We are also using GitHub Actions now instead of Travis.

[2022-03-19 20:12] #123 closed

[2022-03-19 21:52] metasean commented on #428
@keeganwitt - Thank you!

I was completely misunderstanding the expectations for these!
I was expecting them to output the `message` based on the test result, i.e. when the test passed, it would output the `pass` `message` and when it failed, it would output the `fail` `message`.

[2022-03-19 21:52] #428 closed

[2022-03-21 08:13] kael89 commented on #130
Hi there, congratulations for this awesome library! I was just browsing through this issue, and I have the impression it has since been implemented? Check [.toResolve()/.toReject()](https://github.com/jest-community/jest-extended#toresolve)

[2022-04-29 06:55] viceice commented on #408
This doesn't work when running jest in esm mode, as there is no global `jest` object

[2022-04-29 06:59] viceice opened #440 "Support jest esm mode"
**Feature Request**

Description:

I'm using jest in esm mode, because my code simply requires it. But i can't use this library as it expects jest globals.

Possible solution:

Import `jest` from `@jest/globals` .
https://jestjs.io/docs/ecmascript-modules#differences-between-esm-and-commonjs

- ref #408

[2022-04-29 07:47] SimenB commented on #440
where does `jest-extended` use `jest`? it should only use `expect`, which is still a global (unless you've disabled it)

[2022-04-29 07:51] viceice commented on #440
ok, it's disabled 🙃

but I've also type issues after enable. So if i add 'jest-extended' to my `tsconfig.json` , it also makes all `jest`
 types global again and vscode no longer suggests to import them, which of caus will fail when running tests (at least the `jest` global isn't available)

[2022-04-29 08:15] SimenB commented on #440
right. if you disable the globals you'll need to extend yourself.

[code]

we can probably expose some `/all-imported` thing which does this

[2022-05-16 06:26] shahinghasemi commented on #367
My work around:
`jest.config.js`:
[code]
then created a new file called `types/global.d.ts` and put `import 'jest-extended'` into it then **added it to the tsconfig file**:
[code]
Now typescript/vscode can find the types for intellisense.

[2022-05-19 22:08] M-Scott-Lassiter opened #445 "Broken Links in README: Roadmap and Examples"
Both of these links from the README are broken:

https://github.com/jest-community/jest-extended/blob/main/docs/ROADMAP.md
https://github.com/jest-community/jest-extended/blob/main/docs/EXAMPLES.md

The Roadmap link is also broken on [CONTRIBUTING.md](https://github.com/jest-community/jest-extended/blob/main/CONTRIBUTING.md#help-needed).

I could not find the files anywhere in this project directo

[2022-05-27 15:25] tobiaskraus opened #447 "Cannot combine jest-extended with own (custom) extended matchers in TypeScript project"
**Feature Request**

I don't know how I can extend Jest with my own matchers and use the extended matchers from `jest-extended` library at the same time. The TypeScript compiler seem to override the types of my matchers when importing the types of this library.

### How I added my own matchers:

I have extended Jest with my own matchers like described in the [Jest docu here](https://jestjs.io/docs

[2022-05-29 17:04] robinzimmermann commented on #367
Thanks for taking the time to post this, @shahinghasemi, your solution worked great for me!

[2022-06-08 18:21] lclarkg18 commented on #408
This did not work for me

[2022-06-20 17:30] Lehongdanh001996 opened #455 "https://jestjs.io/docs/expect#expectextendmatchers"
The report also highlights a substantial
increase in both the proportion of
smartphone-using children and the amount
of internet use compared with the EU Kids
Online survey in 2010. The time that children
spend online each day has almost doubled in
many countries.
• Children’s online experiences have changed
considerably over the past decade, with
YouTube becoming increasingly popular, and
with na

[2022-06-20 17:30] Lehongdanh001996 commented on #455
https://jestjs.io/docs/expect#expectextendmatchers Thực thể
Vương quốc Anh	Checkout Ltd là một công ty được thành lập hợp pháp theo luật pháp của Anh và xứ Wales với số công ty 08037323, có địa chỉ văn phòng đăng ký tại Wenlock Works, Shepherdess Walk, London, N1 7BQ, Anh, được ủy quyền bởi Cơ quan Quản lý Tài chính (“FCA”) như một tổ chức tiền điện tử dưới số 900816; và là thành viên chính của Vi

[2022-06-22 01:19] Maxim-Mazurok commented on #377
Pretty sure jest already has this, unless I misunderstood the use case.

[code]

and
[code]

[2022-06-22 03:43] Maxim-Mazurok opened #456 "toHaveBeenCalledBefore: Argument of type ... is not assignable to parameter of type 'Mock<any, any>'."
**Bug**

- `package` version: 2.0.0
- `node` version: 17.2.0
- `npm` (or `yarn`) version: 8.1.4
- `jest` version: 27.5.1

Relevant code or config

test:
[code]

jest.config.js
[code]

tsconfig.json:
[code]

What you did:

Run `./node_modules/.bin/tsc --noEmit -p .` to see compilation errors, or check IDE.

What happened (please provide anything you think will help):

[code]

[2022-06-30 12:31] HilaryGreen opened #459 "Can jest-extend matchers be used with Playwright test runner?"
**Feature Request**

Description: Use jest-extend matchers with Playwright test runner

Possible solution:
I really like some of your matchers (one example OneOfMany with array of accepable results) and used serveral when I was developing Playwright tests using Jest as the test runner.
Now I want to switch to the Playwright test runner, but the matchers available do not cover these so well. Is it

[2022-07-07 15:03] ilyub opened #462 "Small fix to index.d.ts: Fix type of array arguments to readonly"
[code]
Is it possible to fix types from "E[]" to "readonly E[]"?
This will allow to pass readonly array to matchers without getting typescript error.

"E[]" implies that toBeOneOf is going to modify array, but I am sure this is not so.
The same applies to other matchers.

[2022-07-09 11:05] SimenB commented on #462
Sure! wanna send a PR?

[2022-07-09 12:07] ilyub commented on #462
https://github.com/jest-community/jest-extended/pull/465

[2022-07-11 06:45] #462 closed

[2022-07-13 09:38] gnarea opened #470 "`toHaveBeenCalledBefore` and `toHaveBeenCalledAfter` typings require a second argument that's actually optional"
This was introduced in v3.

See:

https://github.com/jest-community/jest-extended/blob/4933338668adf30123d7a12a30da4a498f6a9c88/types/index.d.ts#L159-L167

I get `error TS2554: Expected 2 arguments, but got 1.` in my existing code now.

Would you accept a PR to make the second argument optional in `index.d.ts`? I was going to create the PR preemptively but I noticed the JSDoc defined the second ar

[2022-07-13 13:22] SimenB commented on #470
Ergh, #468? 😅

[2022-07-13 13:27] keeganwitt commented on #470
And I just looked at the PRs and not the issues 😆

[2022-07-13 13:49] SimenB commented on #470
released https://github.com/jest-community/jest-extended/releases/tag/v3.0.1 👍

[2022-07-13 13:51] SimenB commented on #456
Could you put together a small reproduction?

[2022-07-13 22:51] Maxim-Mazurok commented on #456
Sure! Here you go: https://github.com/Maxim-Mazurok/jest-extended-456-reproduction

[2022-07-15 08:26] sounisi5011 opened #472 "[Bug] Type definition of .toThrowWithMessage() is broken"
**Bug**

- `package` version: [`jest-extended@3.0.1`](https://github.com/jest-community/jest-extended/tree/v3.0.1)
- `node` version: 16.16.0 or 14.19.3 (This bug is caused by a TypeScript type definition and has nothing to do with the Node.js version)
- `pnpm` version: 6.33.0

Relevant code

[code]

What you did:

I used TypeScript's `tsc` command to check for the presence of errors caused by type

[2022-07-16 10:28] stevefan1999-personal opened #473 "toIncludeSameMembers Does not seems to work with nested array"
Here's a sample query:
[code]

But
[code]

They are both correct results but different in order.

[2022-07-16 10:30] stevefan1999-personal commented on #473
Here's a workaround:
[code]
But this requires lodash

[2022-07-18 11:53] #472 closed

[2022-07-18 11:56] SimenB commented on #456
Right, we should probably not force it to take a mock, and just something callable instead. It _needs_ to be called with a mock tho, so maybe it's correct and you should use `mocked`?

[code]

[2022-07-19 09:17] ParallelUniv3rse opened #476 "Add back support for node 16.10"
**Feature Request**

Description:
Please add back support for node 16.10 into the `package.json` `engines` field.
the latest versions of jest-extended cannot be used when you're trying to avoid high memory consumption by jest in node v 16.11+ as described in https://github.com/facebook/jest/issues/11956.

This concerns jest-extended `^2.1.0` as well as `^3.0.0`.

Possible solution:
Lower engines r

[2022-07-19 10:12] Maxim-Mazurok commented on #456
That worked!
I remember seeing some SO answer that we used to have to use ts-jest and some similar helper, but then after jest got types - there was no more need for that helper. I'm not 100% sure that I recall that correctly tho, so maybe `jest.mocked` is the best answer indeed, I'll leave that to your judgment, thanks for helping out!

[2022-07-19 16:17] keeganwitt commented on #459
I'm not familiar with Playwright, but it should be possible to use Playwright + Jest + Jest Extended. However, I'm fairly certain it would _not_ be possible to use Playwright + Jest Extended without Jest. Why? Because Jest Extended provides matchers for Jest to use. So, unless Playwright has an API compatible implementation of the Matcher interface, I don't see how Jest Extended's additional match

[2022-07-19 16:17] #459 closed

[2022-07-19 17:35] #445 closed

[2022-07-19 21:56] #385 closed

[2022-07-20 07:58] ParallelUniv3rse commented on #476
Thank you for considering and for the explanation. Not sure about npm, but yarn fails to install on the engines requirement.

For anyone using yarn and looking for a workaround:
`yarn install --ignore-engines`

[2022-07-20 15:53] SimenB commented on #476
I think we can do the same here as in https://github.com/facebook/jest/pull/12754 just so people don't have to supply a flag (or ignore warnings)

[2022-07-20 23:39] keeganwitt commented on #476
I don't object. I don't pay much attention to `engines` warnings personally.

[2022-07-20 23:42] #476 closed

[2022-07-29 18:51] xenoterracide commented on #367
why is this such a pain with this library? I don't have problems with other libraries including generally just the jest types, this seems like a real issue still, using 3.0.1

it's not clear how to use a `jest.config.ts` with `ts-jest`, it's also not clear why this isn't a "module". Isn't there a fix that can be put into this library?

[2022-07-29 19:30] xenoterracide commented on #367
I'm using yarn with pnp, ts-jest, and a jest-config.ts, not sure if anything else is relevent, but if sinon-chai for example can do this without significant configuration, then this doesn't impossible

[2022-07-29 19:38] xenoterracide commented on #367
one thing I see different in the code between the sinon-chai definitely typed and this is

[code]
vs just

[code]

I'm going to play with this localy to see if it matters

[2022-07-29 19:48] xenoterracide commented on #367
answers here may also be relevant (sorry for the comment spam, work firewall) https://stackoverflow.com/q/57132428/206466

[2022-07-29 19:55] keeganwitt commented on #367
I'm thinking of removing that import.

One of the complications is `@types/jest` vs the built-in types in Jest and working with both.

[2022-07-31 15:04] kayahr commented on #472
So when will this fix be published in a v3.0.2 for example? All my projects use jest-extended and it's a bit annoying to always exclude it from updating dependencies to prevent running into this compilation error.

[2022-08-01 17:27] xenoterracide commented on #367
yeah, I'm not using `@types/jest` IIRC, peoples aren't supposed to be?

[2022-08-01 18:54] xenoterracide commented on #367
after doing some more experimentation and thinking, I would think the file would need to have

[code]

haven't gotten that working yet either though.

[2022-08-03 18:48] xenoterracide commented on #367
can we reopen this regarding `@jest/globals`? because as far as I can see this jest-extended can't possibly work with that

[2022-08-03 18:51] mattphillips commented on #367
@xenoterracide have you tried the example setup outlined in #407?

[2022-08-03 23:04] xenoterracide commented on #367
@mattphillips yes, in what world do you think that will work with `@jest/globals`? the use case for which is to import the globals into your test file.

[code]

[2022-08-04 09:18] mattphillips commented on #367
@xenoterracide  I really don’t like the way you are choosing to communicate on this issue and the confrontational language being used - I’d ask you to show a little more respect when asking for help.

I’ve read your comments and am still none the wiser what you’re trying to do, what version of jest you’re using or the issue you’re actually having. So far you’ve just mentioned various technologies

[2022-08-04 17:50] xenoterracide commented on #367
[`@jest/globals` is part of jest](https://jestjs.io/docs/api) it's the way jest itself is supporting types.

[code]

## System:
 - OS: macOS 11.6.6
 - CPU: (12) x64 Intel(R) Core(TM) i7-9750H CPU @ 2.60GHz
## Binaries:
 - Node: 16.14.2 - /private/var/folders/xk/s3n8ww014pzbx2sn30ctz7000000gq/T/xfs-2c31da68/node
 - Yarn: 3.2.1 - /private/var/folders/xk/s3n8ww014pzbx2sn30ctz7000000gq/T/xfs-2c31da68/

[2022-08-04 17:51] xenoterracide commented on #367
[code]

[2022-08-04 18:04] xenoterracide commented on #367
[code]

[2022-08-05 01:59] keeganwitt commented on #367
@xenoterracide Is what you are saying that if you don't use `@types/jest`, then when you try to do

[code]

Then the import `from 'jest-extended'` fails with something like

[code]

in VS Code?

[2022-08-05 02:53] xenoterracide commented on #367
@keeganwitt well firstly, I don't think `@types/jest` should be a thing anymore, just FYI. It just supplies what jest is doing right now, yes? so it seems like it should be replaced. Also, it's possible, and/or it's possible I couldn't figure out how to even make that happen correctly with `ts-jest`. I can try that again tomorrow to see why I couldn't make that happen if you'd like. I do feel like

[2022-08-05 03:04] keeganwitt commented on #367
I'll just mention I use ts-jest with @types/jest all the time without importing jest-extended into every file, but that is using `setupFilesAfterEnv`. If that's not working for you, there very well could be a misconfiguration in your project.

As for the usage of @types/jest in general. Eventually, yes, I think it will go away. But I'm not sure that's recommended just yet.

[2022-08-05 03:13] xenoterracide commented on #367
It's recommended by jest, see the first sentence of that documentation.

[2022-08-05 03:15] xenoterracide commented on #367
Also my problem is the test won't compile... Because it doesn't recognize the extra matchers. It'd be great if the problem was runtime.

[2022-08-05 03:21] keeganwitt commented on #367
I was thinking of https://jestjs.io/docs/getting-started#type-definitions. I'm not sure which page you're referring to. If you don't want compile time checks of your tests, don't use ts-jest.

[2022-08-06 23:40] simontong opened #484 "Reintroduce asserting types when values are uncertain"
I'm not sure if this belongs under bugs or a feature, but in version 1, it was possible to use jest-extended matches in `toMatchObject` to match by type like so:

[code]

Since the introduction of the `Result` type, this is now throwing a warning in Typescript:

[code]

Is it possible to reintroduce this functionality with the addition of generics for asserting the type passed in (removing the nee

[2022-08-06 23:47] simontong commented on #484
After investigating other options it looks like I can also produce the desired result with:
[code]
Which is an improvement in the right direction. Would it be possible to detect the correct type from the passed in `Shape` type?

[2022-08-07 02:48] keeganwitt commented on #484
This is an unusual way to use `toMatchObject`. That function is meant to take an object as its argument. See https://jestjs.io/docs/expect#tomatchobjectobject.

I'd think a better test would be
[code]
If I understood the use case better, maybe I could suggest a better option.

I made the change to add the `Result` type. What's returned by `toBeString()` matches the `Result` type. So I think this w

[2022-08-07 02:58] simontong commented on #484
The previous usage was very versatile because you could match some of the properties on an object with their respective values, and where you didn't know the value you could pass the expect.toBeType(), thirdly you could pass a `expect.stringMatching()` in as well, super useful!
[code]

[2022-08-07 04:23] keeganwitt commented on #484
The only reason such a usage worked before was because it was using an `any` before, bypassing type safety checks. The only thing I can suggest is to cast to `any` before passing to Jest's `toMatchObject()`. I can't think of any change that'd make sense in jest or jest-extended for this, but am open to suggestions if you can think of any.

Generifying functions like `toBeString` doesn't make sense

[2022-08-07 04:43] keeganwitt commented on #484
I'll discuss with the other maintainers about the return type we have now compared to `@types/jest`, but the explicit type seemed like an improvement.

[2022-08-08 09:11] AudunWA opened #486 "expect.toIncludeSameMembers output is not an array"
**Bug**

- `package` version: 3.0.2
- `node` version: v16.13.0
- `npm` (or `yarn`) version: npm 8.5.0

Relevant code or config

[code]

What you did:
I have tests where I use the type parameter of `objectContaining`, which previously worked fine when the object contained `toIncludeSameMembers` on properties.

What happened (please provide anything you think will help):
Now, as the output type of `

[2022-08-08 14:50] ykhedher opened #487 "Property 'toPartiallyContain' does not exist on type 'JestMatchers<{ foo: string; baz: string; bax: string; }[]>'.ts(2339)"
**Bug**

- `package` version:v3.0.2
- `node` version: v14.18.2
- `yarn` version: v1.22.19

Relevant code or config

[code]

What you did: I am trying a simple test example. I get the same error when I use `toIncludeSameMembers`

What happened (please provide anything you think will help):
N/A
Reproduction repository (if possible):
N/A

[2022-08-10 15:41] GerkinDev opened #488 "Asymetric matcher to execute assertion fn on value, regardless of the return value"
**Feature Request**

Description: Set a matcher that execute a function with passed values that execute other assertions. This matcher would behave almost entierly like `toSatisfy`, except it would not expect the function to return a truthy to pass.

Example:

[code]

Possible solution: Either:
* create a new matcher
* or alter the `toSatisfy` to either:
  * accept `undefined` return values or
  *

[2022-08-10 15:47] GerkinDev opened #489 "Create a new matcher to run an assertion cb against the thrown error"
**Feature Request**

Description: I'm working on errors with a lot of custom fields on which I want to assert. I could use a plain `try{}catch(e){}` to assert against `e` but it breaks the *arrange*/*act*/*assert* pattern somehow IMO. Moreover, there is already a matcher that behaves similar to what I would want: `toSatisfy`. So, related to #488 , it would be nice to run an assertion cb on the err

[2022-08-11 17:12] SLKnutson commented on #484
The explicit types are technically correct, but as far as I am aware, not useful for the consumers of jest-extended. There may be use cases that I'm not familiar with.

You don't need to actually return a string to say that the type returned is a string. It's sloppy but extremely convenient, and would probably likely result in fewer bugs for end users because casting to any/unknown totally destroy

[2022-08-11 17:26] keeganwitt commented on #484
It might be useful when creating a new matcher that uses other matchers in its implementation or when unit testing said new matcher. What we're talking about is really whether jest-extended itself should lose the type information or whether the user's project using it should. I'm not really seeing a good reason to do the former. @SimenB any thoughts here?

[2022-08-11 17:35] codethief commented on #146
I have been facing the same issue and have come up with the following solution:

[code]

Usage: Add the above file to the `setupFilesAfterEnv` setting in `jest.config.ts`. Then in your tests do

[code]

[2022-08-16 21:48] #138 closed

[2022-08-20 18:20] keeganwitt commented on #484
Actually, I was looking at the runtime return type

[code]
And both were undefined. I think I was confused between the return type of the matcher and the return type of the expect call.

I'm now thinking I should change this. Jest's `Expect` [interface](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/f19301b477ff45540091eb108560e1ef61facdc1/types/jest/index.d.ts#L630) returns `any` (I thin

[2022-08-28 14:02] moteus opened #496 "Assymet"
I have basic test
[code]

And I expect that test should pass, but it fails on expressoin ` expect({value: undefined}).toEqual({value: expect.toBeNil()})` with error.

[code]

- `package` version: `jest-extended@^3.0.2`
- `node` version: `v14.20.0`
- `npm` (or `yarn`) version: `yarn version v1.22.1`

[2022-08-29 13:54] GerkinDev commented on #145
Is it still relevant ? Maybe this can be either closed for housekeeping purpose, or I could open a PR for this.

[2022-08-29 17:19] JShabtai commented on #145
I think closing it makes the most sense. There are some reasonable alternatives in the comments above.

[2022-08-29 17:19] #145 closed

[2022-09-01 03:48] #484 closed

[2022-09-01 09:40] SimenB commented on #484
Note that DT is not the source of truth - Jest itself should be. And in Jest they don't return `any` 🙂

https://github.com/facebook/jest/blob/79977c4a296102ec0103271966dc305e8da82e1a/packages/expect/src/types.ts#L87-L119

---

`any` of course isn't _wrong_ (it cannot be, by definition), but it's inaccurate. Though it probably doesn't matter in this context.

[2022-09-01 13:38] keeganwitt commented on #484
I thought about returning `void`. That'd be more correct. It looked like the only reason DT didn't was because of a linting problem. Putting it back the way it was is at least better than the change I made. I'll open a separate PR to consider `void`.

[2022-09-08 06:49] akoreh opened #506 "toHaveBeenCalledOnceWith typing is wrong"
**Bug**

- `package` version: 3.1.0
- `node` version:  18.8.0
- `npm` version: 8.18.0

Relevant code or config

[code]

What you did:

Reproduction repository (if possible):

https://github.com/jest-community/jest-extended/blob/main/types/index.d.ts#L177

**Feature Request**

Description:
The `toHaveBeenCalledOnceWith` method typing has no parameters, failing in typescript with `expected 0 paramet

[2022-09-10 13:00] akoreh commented on #506
https://github.com/jest-community/jest-extended/pull/507

[2022-09-10 13:04] SimenB opened #508 "Set up tests for type definitions"
Stuff like #506 sneak in all the time. We should have unit tests of our types in this repo.

In the Jest repo we use https://github.com/jest-community/jest-runner-tsd (https://github.com/facebook/jest/blob/1a767e0f1fc21c008ce77a69eda914c152cc067b/package.json#L111) - it (or `tsd` directly if maintainers want) is probably a safe bet.

/cc @mattphillips @keeganwitt

[2022-09-10 13:09] #506 closed

[2022-10-12 17:59] GRollason opened #517 "toHaveBeenCalledOnceWith only asserts a match on the first parameter."
I'm not sure if this would be classed as a bug or a feature, so apologies for any mistakes raising the issue.

**Feature Request**

Description: toHaveBeenCalledOnceWith currently only matches against the first parameter provided to a mock function.

Possible solution:
In `toHaveBeenCalledOnceWith.js`, line 40 reads
`const pass = passOnce && this.equals(expected, received.mock.calls[0][0]);`
I bel

[2022-10-16 08:55] jackneer commented on #496
FYI: test passed on node v18.9.0

[2022-10-16 11:06] Xunnamius opened #518 "Bad typing for `toHaveBeenCalledOnceWith` causing problems"
**Bug**

- `package` version: 3.1.0
- `node` version: 18.10.0
- `npm` (or `yarn`) version: 8.19.2

What happened:

A test with the following line passes, but TypeScript complains with `Expected 0 arguments, but got 1. ts(2554)`:

[code]

`reveal` and `revealSpy` are defined as follows:

[code]

I saw a recent commit described as "fixing toHaveBeenCalledOnceWith," so this may be a regression. Poten

[2022-10-21 11:08] cannontrodder commented on #367
After much frustration and experimentation with the above, I found I only had to add the package and then add:

[code]
to my jest config in package.json and then **restarting vscode**

Without the last step, you play a game of whack-a-mole with the various different errors above and the suggested fixes.

[2022-10-21 20:43] AyobamiH commented on #114
I just started learning jest and I have been bashing my head against the keyboard before finding this, I still suffer from not being able to

[2022-10-22 21:09] vandor commented on #518
I'm seeing the same problem.

I just started using `jest-extended`, specifically because I wanted `toHaveBeenCalledOnceWith`. It is offputting to get hints in my IDE like `Invalid number of arguments, expected 0` when using this matcher.

[2022-10-22 21:13] vandor commented on #517
I'm seeing the same behavior, and it's really unexpected to me. The `toHaveBeenCalledOnceWith` matcher is named to suggest it's a combination of `toHaveBeenCalledTimes(1)` and `toHaveBeenCalledWith`. What's the intended behavior?

[2022-10-22 23:50] loyaj commented on #518
I'm seeing the same problem.

I just started using `jest-extended`, specifically because I wanted `toHaveBeenCalledOnceWith`. It is offputting to get hints in my IDE like `Invalid number of arguments, expected 0` when using this matcher.

I agree, it seems like this matcher was added recently and needs additional implementation

[2022-10-22 23:51] loyaj commented on #517
I'm seeing the same behavior, and it's really unexpected to me. The `toHaveBeenCalledOnceWith` matcher is named to suggest it's a combination of `toHaveBeenCalledTimes(1)` and `toHaveBeenCalledWith`. What's the intended behavior?

[2022-10-25 03:12] keeganwitt commented on #517
@loyaj What you are suggesting is implied by the name is the intended behavior.

[2022-10-25 03:27] keeganwitt commented on #517
I'm going to close this one in favor of #518, just because that one more precisely describes the issue.

[2022-10-25 03:41] keeganwitt commented on #518
Yea, this was a simple goof in the type file. We currently lack test coverage of our types, but this is something we plan on adding.

[2022-10-25 03:42] #518 closed

[2022-10-25 04:37] loyaj commented on #517
Oh, I’m still thinking this issue is describing a separate problem from #518, is it not? Jest’s `toHaveBeenCalledOnceWith` matches on all arguments, not just the first one.

[2022-10-25 04:46] keeganwitt commented on #517
Ah. You're right. I was looking at was ultimately implemented, by that doesn't match what was described in #138.

[2022-10-25 10:10] konstantinmv commented on #518
Why has this been closed? Can we close the issue when this would be solved (with the new version, I suppose?)

[2022-10-26 05:44] beeryt commented on #231
Neither `.toIncludeAllMembers()` nor `.toIncludeAllMembersInOrder()` would resolve the second item.
[code]
Honestly, it seems like a simple `.toEqual()` would (mostly) work:
[code]

The `[{}]` case differs from what OP expected (and `[NaN]` differs from my expectations), but I find the differences agreeable if strict equality or object identity are not desired.

[2022-10-26 18:32] jharrilim opened #524 "[Feature]: Add Element Colour Contrast Matcher"
**Feature Request**

Description:

This would give users another tool in their toolkit to ensure an aspect of their site stays accessible.

Possible solution:

This would ideally come in the form of a matcher like:

[code]

And some reasonable pseudocode for determining the colour contrast might look like:

[code]

[2022-10-27 00:56] kara-ryli commented on #231
I don't have a way of telling, but I'd wager that when I opened this issue, `toEqual` didn't behave the same way. Regardless, I think the example above is close enough for the use case I was looking for that it would make sense to add similar-yet-different matcher.

[2022-10-27 00:56] #231 closed

[2022-11-03 15:48] webstackdev opened #526 "Type definitions not working"
<!--
**Bug**

- `package` version: jest-extended 3.1.0
- `node` version: v17.5.0
- `npm` (or `yarn`) version: yarn 3.2.2
- `typescript`: 4.8.4

I followed the instructions to use `jest-extended` with TypeScript shown on the project home page:

[code]

I also tried the triple slash directive using `types` as suggested in the documentation if the above doesn't work, and tried using a triple slash di

[2022-11-08 15:09] keeganwitt commented on #517
I haven't found a way to make this work with varargs. Jest seems to pass only the first parameter as `expected` into the matcher.

[2022-11-14 18:04] harry-gocity commented on #337
This would be really useful for us - maybe a `toHaveBeenCalledNTimesWith` would be more flexible?

[2022-11-14 18:36] harry-gocity opened #529 "`toHaveBeenCalledOnceWith` naming is ambiguous"
**Doc Update / Clarification and feature request for `toHaveBeenCalledNTimesWith`**

Just checked out the project as I was looking for a `toHaveBeenCalledNTimesWith` matcher, where `n` is most often 1. I think there's a bit of ambiguity around `toHaveBeenCalledOnceWith`.

- How it can be read: expect the mock function to have been called at most one time with specific arguments
- How it's [impleme

[2022-11-17 04:02] keeganwitt commented on #253
Just to state the obvious, using currently available matchers, one could do

[code]

[2022-11-21 13:23] keeganwitt commented on #526
We need more information about your setup. Are you using ts-jest?

[2022-11-23 10:59] WtfJoke commented on #518
Any plans for releasing this fix @keeganwitt ?

We would like to have used `toHaveBeenCalledOnceWith` but decided not to, as we would need to put `@ts-ignore` currently.

[2022-11-23 14:56] keeganwitt commented on #518
I don't have permission to publish new versions and it doesn't look like we have our [ci.yaml](https://github.com/jest-community/jest-extended/blob/main/.github/workflows/ci.yaml) setup to automate the publishing. @SimenB can we look into doing another release?

[2022-11-23 15:06] keeganwitt commented on #518
Simen just did a 3.2.0 release that contains this fix.

[2022-11-23 15:26] WtfJoke commented on #518
Wow, that was fast 🚀
Thank you @SimenB and @keeganwitt  ❤️

[2022-11-24 13:29] aduponchel opened #532 "`toHaveBeenCalledOnceWith` does not work with Symbols"
[code]

[2022-11-26 15:31] MarcellPerger1 opened #533 "Duplicated page for `toSatisfy` in docs"
On the jest extended website, there are 2 pages for the `toSatisfy` matcher that are identical:
- https://jest-extended.jestcommunity.dev/docs/matchers/toSatisfy
- https://jest-extended.jestcommunity.dev/docs/matchers/toSatisy

And they both show up in the sidebar:
![image](https://user-images.githubusercontent.com/102254594/204096374-ebe3120c-57f6-4a22-978a-c5b5f8950509.png)

[2022-11-28 08:39] aukevanleeuwen commented on #484
Just adding some thoughts to this thread as well: the change to `any` is a bit unfortunate for us. We use this pattern quite a lot:

[code]

Since this PR is merged we need to add the `as string` to keep our linter happy. Otherwise we would violate this rule:

[code]

We don't really want to disable that rule (even in test-code), so I would also be in favour returning at least something _not_ `any